/*react table  css */
.ReactTable .rt-thead .rt-th.-sort-asc,
.ReactTable .rt-thead .rt-th.-sort-desc{box-shadow: inset 0px 0px 0px 0px #000 !important;;}
.ReactTable .rt-thead .rt-th.-sort-asc .rt-resizable-header-content:after{content: "\e02e";font-family: "icons_me";font-size: 14px;margin-left: 5px;}
.ReactTable .rt-thead .rt-th.-sort-desc .rt-resizable-header-content:after{content: "\e030";font-family: "icons_me";font-size: 14px;margin-left: 5px;}
.ReactTable .-pagination {margin-top: 15px;}
.ReactTable .-pagination .-previous, 
.ReactTable .-pagination .-next{flex: 2;}
.ReactTable .-pagination{background: none;box-shadow: 0px 0px 0px 0px !important;border-top: 0px solid #fff !important; }
.ReactTable .-pagination .-btn{background: none !important}
.ReactTable .-next button{text-align: left ;margin-top: 0px;}
.ReactTable .-previous button{text-align: right;margin-top: 0px;}
.ReactTable .rt-tr.-padRow.-odd,
.ReactTable .rt-tr.-padRow.-even{visibility: hidden;}
.ReactTable .rt-noData {width: 100%;text-align: center;padding: 7px !important;border: 1px solid #ddd;}
div.ReactTable .select-wrap select{padding: 7px;}
.ReactTable .-pagination .-btn:not([disabled]):hover{color: #1e1e1e !important;}
.ReactTable div.rt-tbody .rt-tr-group{border-bottom:0px solid ;}
div.ReactTable .rt-tfoot .rt-td {padding: 0px;height: auto;line-height: normal;margin: 0;border: 0px;}
div.ReactTable .rt-tfoot{box-shadow: 0 0 1px 0 rgba(0,0,0,0.15);}
.ReactTable .rt-thead.-header .rt-tr {font-weight: 400;}
div.ReactTable .rt-thead.-header{box-shadow:0 0 0 0 rgba(0,0,0,.15)}
.Table__itemCount{font-size:14px}
.Table__pagination{display:flex;justify-content:center;padding:20px 10px}
.Table__pageButton{font-size:15px;outline:0;border:none;background-color:transparent;cursor:pointer;color:var(--txt-color)}
.Table__pageButton:disabled{cursor:not-allowed;color:gray}
.Table__pageButton--active{color:#1e1e1e;font-weight:700}
.pagination-bottom .Table__pageButton span.icon.next,.pagination-bottom .Table__pageButton span.icon.privious{background:0 0;width:30px;height:auto;margin-top:2px}
.pagination-bottom .Table__pageButton span.icon.next::before,.pagination-bottom .Table__pageButton span.icon.privious::before{background:initial;background-color:initial}
/* aside menu */

aside ul.side_menu { padding: 0px; margin: 0px; list-style: none; background-size: 100%;}
aside ul.side_menu li a{ justify-content: center; line-height: 21px; padding: 30px 10px; display: inline-flex; cursor: pointer; width:100%;}
aside ul.side_menu li a.active { background-position: center; background-repeat: no-repeat; background-size: 110%;}
aside ul.side_menu li a.major_button { padding: 10px; font-size: 14px;}
aside ul.side_menu li a.major_button img{ position: absolute; left:25px;}
aside ul.side_menu li a {color: #1e1e1e;border-bottom: 1px solid #f6f6f6;}
aside ul.side_menu li a.active {background: #e6e6e5;color: #777;box-shadow: 0px 2px #bdbdbd;}
aside ul.side_menu li a:hover{background: #e6e6e5;color: #777;}

/* calendar common */
.rbc-calendar {height: 570px;padding: 15px 45px 25px;width: 96%;margin: 0px auto;}
.rbc-date-cell{font-size: 15px;}
.rbc-row-content .rbc-row:first-child {line-height: 25px;border-bottom: 1px solid #7774;}
div.rbc-header{padding: 5px 3px ;font-size: 15px;}
button.rbc-event {display: flex !important;height:10px !important;border-radius: 0 !important;}
.rbc-month-view {min-height: 450px;}
.rbc-toolbar-label{display: flex;;width: 100%;justify-content:center;font-size: 30px;margin: 15px 0px; margin-top: -30px;}
.rbc-date-cell {font-size: 15px;}
.rbc-toolbar-label {display: flex;width: 100%;justify-content: center;font-size: 30px;margin: 15px 0px;margin-top: -15px; font-weight: 600;}
.rbc-btn-group span.icon-arrow-right {position: absolute;right:25px; font-size: 20px; cursor: pointer;}
.rbc-btn-group span.icon-arrow-left {position: absolute;left: 25px; font-size: 20px; cursor: pointer;}

/* select */
.Select--multi .Select-multi-value-wrapper{ width: 100%;}
.Select--single > .Select-control .Select-value .Select-value-label{align-content: center; display: flex; justify-content: center;  align-items: center;}


/* Start counter */
.counter_div {position: relative;font-size: 2rem;font-family: monospace; width: max-content;}
.counter_lines {display: block;position: absolute;left: 0;right: 0;top: 0;bottom: 0;pointer-events: none;background-image: linear-gradient(to right, black 1px, transparent 1px);background-size: 67px;}
.counter_text{display:block;box-sizing:border-box;border-width:1px 0 1px;border-color:#000;border-style:solid;font:inherit;padding:0 10px 0 13px;letter-spacing:24px;font-size:76px;font-family:sans-serif;font-weight:600;width:calc(100% - 21px);background:#fff}
.counter_wrapper{margin-left:21px}
.Over_counter_{display:flex;justify-content:space-between}
.Over_counter_div_{text-align:center}
.Overview_conter{margin-left:0}
.Over_counter_tex_ span{font-size:12px;cursor:pointer;margin:0 7px}
.Over_counter_tex_ span.active{color:var(--txt-color)}
.Overview_conter .counter_lines{background-size:80px}
.Overview_conter .counter_text{font-size:100px}
/* end counter */


/* Start Toast */
.Toastify_content__{padding:30px 0}
.Toastify_content__ p{font-size:15px}
.Toastify_content__ i{font-size:45px}
.Toastify__toast-container .Toastify__close-button{margin:10px;border:1px solid;border-radius:100%;min-width:22px;height:22px;display:flex;justify-content:center;align-items:center}
div.Toastify__toast--error .Toastify__close-button{border-color:#ad0000}
.Toastify__toast--error .Toastify__close-button,.Toastify__toast--error .Toastify_content__,.Toastify__toast--error .Toastify_content__ i,.Toastify__toast--error .Toastify_content__ p{color:#ad0000}
.Toastify__toast--success .Toastify__close-button,.Toastify__toast--success .Toastify_content__,.Toastify__toast--success .Toastify_content__ i,.Toastify__toast--success .Toastify_content__ p{color:#fff}
div.Toastify__toast--success .Toastify__close-button{border-color:#fff}
div.Toastify__toast--success{background:#38af74;background-color:#38af74}
button.Toastify__close-button{position: absolute; top: 7px; right: 7px;}
/* End Toast */
