/*(====================================
[ TABLE OF CONTENT ]
------------------------------------
1.0 - General Styles
2.0 - Typography
3.0 - Padding
      (A) PP_00_AZ = Padding:Top Bottom Left Right;
      (B) PP_00_TB = Padding:Top Bottom;
      (B) PP_00_TB = Padding:Left Right;
      (C) PP_00_TB = Padding:Top;
      (D) PP_00_TB = Padding:Bottom;
4.0 -
5.0 -
6.0 -
7.0 -
8.0 -
9.0 -
10.0 -
11.0 -
12.0 -
-------------------------------------
[ END CSS TABLE CONTENT ]
=====================================
*/
/* -- 1.0 - General Styles -- */
body {
    font-family:'Helvetica LT Std-1' !important;
    font-size: 17px;
    /*line-height: 28px;*/
     font-weight:600;
    font-style: normal;
}
img {
    max-width: 100%;
}
a {}
a,
a>* {
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
a:hover, a:active, a:focus{
    text-decoration: none !important;
    outline: none;
}
*:focus {
    outline: none;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.row {
    margin-right: -7px;
    margin-left: -7px;
}
/* -- 2.0 - Typography -- */
h2, h3, h4, h5, h6 {
    font-weight: 400;
    padding: 0px;
    margin: 0px;
}
h1 {
    font-size: 40px;
    line-height: 40px; 
     margin: 0px;
}
h2 {
    font-size: 30px;
    line-height: 30px;
}
h3 {
    font-size: 18px;
    line-height: 22px;
}
h4 {
    font-size: 18px !important;
    line-height: 18px;
}
h5 {
    font-size: 15px;
    line-height: 15px;
}
h6 {
    font-size: 13px;
    line-height: 13px;
}
p {
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
}
/* -- 3.0 - padding_margin -- */
.P_30_AZ{padding: 30px;}
.P_25_AZ{padding: 25px;}
.P_20_AZ{padding: 20px;}
.P_15_AZ{padding: 15px;}
.P_10_AZ{padding: 10px;}
.P_7_AZ{padding: 7px;}
.P_30_TB{padding-top: 30px;padding-bottom: 30px;}
.P_25_TB{padding-top: 25px;padding-bottom: 25px;}
.P_20_TB{padding-top: 20px;padding-bottom: 20px;}
.P_15_TB{padding-top: 15px;padding-bottom: 15px;}
.P_10_TB{padding-top: 10px;padding-bottom: 10px;}
.P_7_TB{padding-top: 7px;padding-bottom: 7px;}
.P_30_LR{padding-left: 30px;padding-right: 30px;}
.P_25_LR{padding-left: 25px;padding-right: 25px;}
.P_20_LR{padding-left: 20px;padding-right: 20px;}
.P_15_LR{padding-left: 15px;padding-right: 15px;}
.P_10_LR{padding-left: 10px;padding-right: 10px;}
.P_7_LR{padding-left: 7px;padding-right: 7px;}
.P_30_R{padding-right: 30px;}
.P_45_T{padding-top:45px;}
.P_30_T{padding-top:30px;}
.P_25_T{padding-top:25px;}
.P_20_T{padding-top:20px;}
.P_15_T{padding-top:15px;}
.P_10_T{padding-top:10px;}
.P_7_T{ padding-top: 7px;}
.P_30_b{padding-bottom:30px;}
.P_25_b{padding-bottom:25px;}
.P_20_b{padding-bottom:20px;}
.P_15_b{padding-bottom:15px;}
.P_10_b{padding-bottom:10px;}
.P_7_b{ padding-bottom: 7px;}
.M_30_b{padding-bottom:30px;}
.M_25_b{padding-bottom:25px;}
.M_20_b{padding-bottom:20px;}
.M_15_b{padding-bottom:15px;}
.M_10_b{padding-bottom:10px;}
.M_7_b{ padding-bottom: 7px;}

ul{
   padding: 0px;
   margin: 0px;
}
input.but,
a.but,
.but,
button.but{
    font-size: 15px;
    width: 100%;
    line-height: 15px;
    padding:12px 15px;
    border: 0px;
    text-align: center;
}
.but_submit{
     width: 100%;
    line-height: 15px;
    padding:12px 15px;
    font-size: 17px;
    background: #1e1e1e;
    border: 0px;
    color:#fff;
    font-weight: 300;
}
a.but_gray{
    font-size: 15px;
    width: 100%;
    line-height: 15px;
    padding:12px 15px;
    text-align: center;
    display: block;
    font-size: 20px;
}
.but_gray img{
    position: absolute;
    left:25px;
}

input{
    padding:0px 15px;
    font-size: 14px;
    width: 100%;   
    line-height: 40px;
    height: 40px;
    font-weight: 300;
}
a.but_1{
    font-size: 20px;
    line-height: 20px;
    display: table;
    width: 100%;
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
}
.nice-select {
    font-size: 15px;
    height: 40px;
    line-height: 43px;
}
html {
   margin:0;
   padding:0;
   min-height: 100%;
   position: relative;
   padding-bottom: 65px;
   overflow-x: hidden;
}
footer.text-center div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}
form {
    display: inline;
}
.width{
    width: 100%;
}
.required:before{
    font-size: 7px;
}
.required_select:before{
    font-size: 7px;
}
.nice-select{
    font-size: 15px;
    height: 40px;
    line-height: 40px;
}
/*=======================*/
/*=========Member=======*/

.f_color_size div{
 font-size: 19px;
 line-height: 19px;
}
.f_color_size .col-md-3{
    text-align: right;
}
.user_img{
    width: 120px;
    height: 120px;
    border-radius: 100%;
}
.user_profile td{
 vertical-align: top;
}
.user_profile ul li .nice-select{
 border-radius:5px !important;
}
.user_profile .nice-select .option{
    font-size: 12px !important;
    padding-left: 10px;
    line-height: 25px;
    min-height: 25px;
}
.user_profile .nice-select {
   font-size: 12px !important;
   height: 21px;
   line-height: 22px;
}
.user_profile .nice-select:after {
    border-right: 6px solid transparent !important;
    border-left: 6px solid transparent !important;
    border-bottom: 0px solid transparent;
    content: '';
    right: 7px;
    margin-top: 6px;
}
.user_profile .nice-select .list{
    border-radius: 5px;
}
.user_profile p.select_all span {
   float: none; 
   padding-right: 6px;
   vertical-align: top;
}
.user_profile .box_wide{
 width: 100px; margin-right: 10px ;
 margin-bottom:7px;
}
.per_100{
    width: 100%;
}
/********* House **********/
.search_icons_right input {
    height: 40px;
    line-height: 40px;
    padding: 0px 0px 0px 50px;
    outline: none;
}
.search_icons_right button {
    margin: 0px;
    padding: 0px !important;
    border-radius: 0px !important;
    background: transparent;
    box-shadow: 0px 0px 0 !important;
    border-width: 0;
    position: absolute;
    left: 10px;
    z-index: 2;
    top: 50%;
    transform: translate(0, -50%);
    outline: none;
}
.user_img{
    overflow: hidden;
}
.user_img img {
    max-width: 100%;
    height: 100%;
}
.accordion_me ul {
    width: 100%;
}
.accordion_me .panel-title i {
    display: table-cell;
    position: absolute;
    right: 0px;
}
.panel-title{
    position: relative;
}
.resident_name{
    padding: 10px;
}
.Resi_details{
    margin: 0px;
}
.modal-backdrop.in{
    opacity: 0.7 !important;
}
.phone_icons{
    width: 45px;
}


.d-none {
  display: none;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-block {
  display: block;
}
.d-table {
  display: table;
}
.d-table-row {
  display: table-row;
}
.d-table-cell {
  display: table-cell;
}
/*********-flex_concept-****/
.w-0{
    width: 0%;
}
.w-10{
    width: 10%;
}
.w-20{
    width: 20%;
}
.w-30{
    width: 30%;
}
.w-40{
    width: 40%;
}
.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
}
.w-70{
    width: 70%;
}
.w-80{
    width: 80%;
}
.w-90{
    width: 90%;
}
.flex{
     display: flex;
}
.flex_wrap{
   display: flex;
   flex-wrap: wrap; 
}
.flex_space-between{
    align-content: space-between;
    }
.align-self-start {
    -ms-flex-item-align: start!important;
    align-self: flex-start!important;
}
.align-self-center {
    -ms-flex-item-align: center!important;
    align-self: center!important;
}
.align-self-end {
    -ms-flex-item-align: end!important;
    align-self: flex-end!important;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.input_search.change_b input {
    font-size: 18px;
}
