.cstmSelect2_optionsBox:root {
    --main-color: #05adee;
}

@media (min-width: 768px)
{
    .recruitment_module .container {width: 96%;}
    .sort_row1--{display: flex; align-items: center;}
    .pd_r_0_De{padding-right: 0 !important;}
}

@media (min-width: 1200px)
{
    .customModal .cstomDialog{max-width: 1300px;}
}

@media (min-width: 1300px)
{
     .recruitment_module .container {width: 90%;max-width: 1600px;}   
     
     
}

@media (max-width: 1500px)
{
    .cstmSelect2_optionsBox{left: 0; margin-top: 10px;}
    .cstmSelect2_optionsBox::before{border-width: 0 10px 10px 10px;border-color: transparent transparent #9bdef8 transparent; top: 0;margin-top: -10px;left: 30px;}
    .colJ-1{width: 100%;}
    .Cust_Sel_2 .rrs__option.rrs__option--header{font-size: 13px;}
    .srve_liDv .btn.s_bt2{margin-right: 7px; font-size: 12px; max-width: calc(100% - 30px)}
}
  
@media (max-width: 1300px)
{
    .jOpen_table_dv{width: 100% !important;}
    .main_timelineBox{padding: 50px 20px;}
 
    .srve_liDv .btn.b_bt2{max-width: 100%;}
    .srve_liDv .btn.b_bt{max-width: 100%;}
    .timeLine_detaiBox h4{font-size: 16px;}
   .subTasks_Action__.tsk_center li{font-size: 14px;}
   .subTasks_Action__ li{font-size: 12px;}
   .accFootRow1 h4{font-size: 13px;}
   .dashboard_Table .ReactTable .rt-tr .rt-td,
    .ReactTable .rt-thead .rt-resizable-header-content
     {font-size: 14px;}
}

@media(max-width:1200px){

    .grph_dv {
        height: 175px;
        display: flex;
        align-items: end;
    }
    .Sub_Tasks_Hdng__ .subTsks_hdngUl li{font-size: 14px;}
    aside ul.side_menu li a{font-size: 17px;}
    .cstomDialog{ width: 90%;}
    .title_frameDv{width: 100%;}
    .quesAns_box__{width: 100%;}
    .circQues{width: 70px; height: 70px;}
    .answrShw li{width: 100%;}
    .ansRatngUl{width: 100%; margin-left: 0;}
    .ansRatngUl li .labelLit p{font-size: 15px;}
    .res_info2D{font-size: 15px;}
    .crtdByH{font-size: 15px;}
    .queBxFoot h4{font-size: 15px;}
    .overlay.show{ background:transparent;}
    .bodyNormal.right{margin-right: 0px;}
    .bodyNormal.left{margin-left: 0px;}
    .main_heading_cmn- h1{font-size: 35px;}
    .dcmntBtns_dv .btn{font-size: 12px;}
    .cmn-btn1.eye-btn{padding-right: 40px !important;}
    .pad_l_50Ts{padding: 0px 15px;}
    .tskModRow1::before{left:50%;}
    
}

@media (max-width: 1199px)
{
    .notify_ul__ li{width: 25%;}
    .notify_bor{border-left:solid 1px var(--main-color);}
    .col_hgCmn.noty_col{min-height: auto; padding-bottom: 30px;}
    .status_box1 h4.hdng{font-size: 18px !important;}
}

@media (max-width: 1024px)
{
    .resume_dialog{width: 96%;left:2%;}
    .subTasks_Action__.tsk_center li{font-size: 14px;}
    .cstomDialog.widBig{min-width: auto; width: 90%;}
    .subTasks_Action__ li .sbTsk_li{font-size: 12px;}
    aside ul.side_menu li a{font-size: 14px;}
    .posted_ul12__{width: 80%; margin-left: 0;}
    .CABinfo_lstBox__{padding: 15px 0px;}
    .ans_colTr{padding-left: 15px;}
}

@media (max-width: 991px)
{
    /* .status_row--{display: block;} */
    .srchCol_r{padding-right: 0; }
    .filCol_l{padding-left: 0;}
    /* .asideCol1{padding-right: 0;} */
    .mainCntntCol1{padding-left: 0;}
    .prof_left{width: 100%; padding-right: 0; }
    .prof_left .profImg{margin: 10px auto;}
    .prof_right{float: left ; width: 100%; padding:15px 0px;}
    .usName{text-align: center;}
    .main_heading_cmn- .hdng_btn{margin-top: 0px;}
    .subsTasks_ul li.active:after{display: none;}
    .subtask_info_box--{margin-left: 0; width: 100%;}
    .mr_ipd_10{margin-bottom: 15px;}
    .Menu4_Div-{margin-top: 0;}
    .noPd_R_ipd{padding-right: 0;}
    aside ul.side_menu{margin-bottom: 10px;}
    .noPd_l_ipd{padding-left: 0;}
    .recruitment_module aside ul.side_menu li a{font-size: 12px;}
    .posted_ul12__{width: 90%;}
    .trngBoxAc h4{font-size: 16px;}
    .pd_lr_50{padding-left: 15px; padding-right: 15px;}
    .grph_dv{height: auto;}
}

  
@media (max-width: 767px){
    .status_row--{display: block;}
}