body
{background-color: #f6f6f6; overflow-x: hidden;}

body .recruitment_module{font-weight: normal; user-select: none;}

:root{
  --drk-color1:#ffa082;
  --drk-color2:#f76d42;
  --drk-color3:#dc4517;
  --drk-color4:#b32a00;
}
.recruitment_module {

  --bg-color:#FF7043  ;
  --txt-color: #FF7043  ;
  --b-color:#FF7043  ;
  --light_color1:#7ddbff; 
  --light-color2:#72d0f5;
  --light-color3:#36c7ff;
  --b-radius:4px;
}

ul{padding-left: 0;list-style-type: none;}

.cmn_bg_clr {background-color: var(--bg-color) !important; }
.cmn_font_clr{ color: var(--bg-color) !important; }

.main_header{height: 70px;background-color: #565656; box-shadow: 0px 5px 15px #cecece; padding: 0 15px;}

.dashboard-section{ padding: 10px 0;}

.main_heading_cmn-
{
  color: var(--bg-color);border-color: var(--bg-color);border-top: solid 1px;border-bottom: solid 1px;padding: 20px 0;
  margin-top: 15px;
}

.main_heading_cmn- h1{margin-top: 0;font-size: 50px;font-weight:700; line-height: inherit; color:var(--bg-color) !important; display: flex; align-items: center;}
.main_heading_cmn- .hdng_btn{padding: 10px 30px;float: right; }
.main_heading_cmn- h1 a{flex: 1;}

.no-pad{padding-left: 0; padding-right: 0;}
.back_col_cmn-{margin-top: 30px;}
.back_col_cmn- .icon{font-size:30px; color: var(--bg-color); cursor: pointer;}

.cmn-btn1,
.cmn-btn1:hover,
.cmn-btn1:focus
{
  background-color: var(--bg-color);
  color: #fff;
  border-radius: var(--b-radius);
  transition: all ease 0.5s;
  outline: none !important;
}

.cmn-btn1:hover{box-shadow: 0px 5px 15px #cecece;}

.cmn-btn2
{
  background-color: #fff;
  color: var(--bg-color);
  border-radius: var(--b-radius);
  transition: all ease 0.5s;
  outline: none !important;
  border:solid 1px var(--bg-color);
}
.cmn-btn2:hover{box-shadow: 0px 5px 15px #cecece; background-color:var(--bg-color);; color: #fff;}

.status_row--{border-bottom: solid 1px var(--bg-color); padding-bottom: 15px; display:flex; margin-top: 15px; flex-wrap: wrap;}

.status_box1
{background: #e6e6e6;padding: 15px 40px;border-radius: var(--b-radius);min-height: 250px;margin-bottom: 15px; height: 100%; }

.status_box1 h4.hdng{text-align: center; font-size: 22px !important; font-weight:700; margin-bottom: 20px; line-height: inherit; margin-top: 10px;}
.status_det_list{padding-left: 0; list-style-type: none;min-height: 90px;}
.status_det_list li{font-weight: 700; font-size: 14px;}

.drk-color1{ color: var(--drk-color1);}
.drk-color2{ color: var(--drk-color2);}
.drk-color3{ color: var(--drk-color3);}
.drk-color4{ color: var(--drk-color4);}


.viewBy_dc h5{margin-bottom: 5px; font-weight: 700;}
.viewBy_dc ul li{display: inline-block; width: 33%; color: grey; cursor: pointer; font-weight: normal; font-size: 13px;}
.viewBy_dc ul li:hover,
.viewBy_dc ul li.active
{color: var(--bg-color);}

.Menu4_Div-{margin-bottom: 15px;border-bottom: solid 1px var(--bg-color);padding: 30px 0;}
.Menu4_Div- ul{display: flex; width: calc(100% + 20px); margin-left: -10px;}
.Menu4_Div- ul li{flex:1; text-align: center; padding: 0 10px;cursor: pointer;}
.Menu4_Div- ul li a{
  background-color: #cecece;
  display: block;
  padding: 15px 10px;
  border-radius: var(--b-radius);
  font-weight: 700;
  font-size: 15px;
  color: #4a4a4a;;
}

.Menu4_Div- ul li:hover a,
.Menu4_Div- ul li.active a
{color: var(--bg-color); background-color: #e9e9e9; text-decoration: none;}

.sort_row1--{margin-top: 15px; margin-bottom: 15px;}
.search_bar{padding-left: 0; position: relative;}

.search_bar .srch-inp,
.search_bar .srch-inp:focus
{
  width: 100%;
  height: 50px;
  background-color: #fff;
  border:solid 1px var(--bg-color);
  border-radius: var(--b-radius);
  font-size: 18px;
  outline: none;
}

.search_bar.left .srch-inp{ padding-left: 50px;}
.search_bar.right .srch-inp{ padding-right: 50px;  padding-left: 15px;}

.search_bar i
{position: absolute;  margin-top: 17px;font-size: 20px;color: var(--bg-color);font-weight: 700;cursor: pointer;}

.search_bar.left i{left: 20px;}
.search_bar.right i{right: 20px;}

.no_pd_l{padding-left: 0;}
.no_pd_r{padding-right: 0;}

.filter_flx{display: flex;width: 100%;margin-top:5px; margin-bottom: 5px;}
.filter_flx .filter_fields__{flex: 1; padding: 0px 7px; z-index: 11;}

.data_table_row1{margin-top: 30px;}
.data_table_cmn .ReactTable{min-height: 125px;}
.data_table_cmn .ReactTable .rt-noData{ width: 100%;text-align: center;border: solid 1px var(--bg-color);color: var(--bg-color); border-radius: var(--b-radius); margin-top: 15px;}

.data_table_cmn .ReactTable .rt-thead.-header{background-color: var(--bg-color);  color: #fff; border-radius: var(--b-radius);}



.data_table_cmn .ReactTable .rt-thead .rt-th.-cursor-pointer, .ReactTable .rt-thead .rt-td
{outline: none !important;  border-right: solid 1px #fff; padding: 10px 10px;}

.data_table_cmn  .ReactTable .rt-thead .rt-th:last-child, .data_table_cmn  .ReactTable .rt-thead .rt-td:last-child
{border-right: 0px !important; }

.data_table_cmn .ReactTable .rt-tbody .rt-td:last-child{border-right: 0px;}

.data_table_cmn .ReactTable{border: transparent !important;}

.data_table_cmn .ReactTable .rt-tbody{ margin-top: 15px;}

.data_table_cmn .ReactTable .rt-thead .rt-tr{text-align: left;}

.data_table_cmn .ReactTable .rt-tbody .rt-tr-group{border-bottom: solid 1px transparent !important; margin-bottom: 15px;border-radius: var(--b-radius); overflow: hidden; }

.data_table_cmn .ReactTable .rt-tr .rt-td{border-right: solid 1px #dadada;padding: 15px 5px; padding-left: 15px; font-weight: normal;font-size: 13px; }
.data_table_cmn .ReactTable .rt-tr.-odd{background: #fff !important;}
.data_table_cmn .ReactTable .rt-tr.-even{background: #e9e9e9 !important;}
.data_table_cmn .Select-control .Select-input:focus{background-color:var(--bg-color) !important; }

.data_table_cmn .ReactTable .rt-tr { position: relative;}

.action_cont_row{padding-top: 15px;padding-bottom: 30px;}
.action_calendar{min-height: 300px; background: #fff; border-radius: var(--b-radius); margin-top: 15px;  position: relative; overflow: hidden;}
.action_calendar .rbc-calendar{height: 600px !important;}

.new_task_btn{padding: 10px 30px; float: right; width: 250px; max-width: 100%;}

.legend_row--{margin-top: 15px;}
.legend_ulBC li{display: inline-block; padding-left: 25px; padding-right: 25px; position: relative; padding-left: 20px; font-size: 14px;}
.legend_ulBC li .leg_ic{width:15px; height: 15px; position: absolute; border-radius: 5px; left: 0; margin-top: 1px;}
.legend_ulBC li .leg_ic.gr_int{background-color: var(--drk-color1)}
.legend_ulBC li .leg_ic.trng{background-color: var(--drk-color2)}
.legend_ulBC li .leg_ic.Ind{background-color: var(--drk-color3)}

.schedules_modal
{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  position: absolute;
  z-index: 10;
  overflow: auto;
  display: none;
}

.schedules_modal.show{display: block;}

.sched_modal_dialog
{
  background: #fff;
  border: solid 1px var(--bg-color);
  padding: 15px;
  width: 300px;
  min-height: 200px;
  border-radius: 10px;
  position: relative;
  margin: 50px auto;
}

.sched_modal_dialog::before,
.sched_modal_dialog::after
{position: absolute;content: '';width: 0;height: 0; border-style: solid;}

.sched_modal_dialog.left::before
{border-width: 15px 15px 15px 0;border-color: transparent var(--bg-color) transparent transparent;left: -15px;top: 50px;}

.sched_modal_dialog.left::after
{border-width: 13px 13px 13px 0;border-color: transparent #fff transparent transparent;left: -13px; top: 52px;}

.sched_head1{color:#000;}
.sched_head1 .sch_type{font-size: 15px;}
.sched_head1 small{color: grey;}
.sched_modal_dialog .asgndTo{font-size: 15px; margin-top: 15px;}
.sched_modal_dialog .attendees1 li{text-decoration: underline; width: 100%; padding: 3px 0;}
.sched_modal_dialog .attendees1 li span{float: right; color: var(--bg-color);}

.snd_mail1{width: 100%; margin-top: 10px; padding: 10px;}

.creatn_tg{font-size: 9px; margin-top: 10px; display: block;}

.recruitment_module .customModal
{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  top:0;
  position: fixed;
  z-index: 10000 !important;
  overflow-y: auto;
  display: none;
  transform:none;
}

.customModal.show{display: block ; }
.cstomDialog.widBig{width: 60%; min-width: 1000px;}

.cstomDialog
{height: auto ;padding: 15px 30px; border-radius: var(--b-radius); background: #f6f6f6; min-height: auto; }

.cstmModal_hdng1--
{
  width: 100%;
  border-top: solid 1px var(--bg-color);
  border-bottom: solid 1px var(--bg-color);
  color:var(--bg-color);
  padding: 10px 0;
  font-size: 20px;
  padding-right: 50px;
  font-weight: 700;
  margin-bottom: 15px;
}

.cstmModal_hdng1-- .closeModal{
  width:30px;
  height: 30px;
  border-radius: 50%;
  /* border: solid 1px var(--bg-color); */
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5px;
  cursor: pointer;
  margin-right: -50px;
}

.csForm_control
{width: 100%;height: 40px;border-radius: var(--b-radius);border: solid 1px var(--bg-color);padding-left: 15px;padding-right: 15px;background: #fff;}

.csForm_control:focus{outline: none;}
.csform-group label{font-size: 16px !important;}
.csform-group{width:100%;margin-bottom: 15px; }

.bor_bot1{border-bottom: solid 1px var(--bg-color);}
.bor_bot2{border-bottom: dashed 1px var(--bg-color);}

.bor_line{width: 100%;height: 1px;background: var(--bg-color);margin-bottom: 15px;}

.data_table_cmn.tableType2  .ReactTable .rt-thead.-header{border-radius: var(--b-radius) var(--b-radius) 0px 0px !important;}
.data_table_cmn.tableType2 .ReactTable .rt-thead .rt-tr,
.data_table_cmn.tableType2 .ReactTable .rt-tbody .rt-td
{text-align: center;}
.data_table_cmn.tableType2   .ReactTable .rt-tbody{ margin-top: 00px !important; border-radius: 0 0 var(--b-radius) var(--b-radius) !important;}
.data_table_cmn.tableType2 .ReactTable .rt-tr{border-radius: 0 !important;}
.data_table_cmn.tableType2 .ReactTable .rt-tbody .rt-tr-group{margin-bottom: 0 !important; border-radius: 0;}
.createACtion_Table1{margin-bottom: 15px ; z-index: 10;}
.createACtion_Table1 .pagination-bottom{display: none;}
.createACtion_Table1 .ReactTable .rt-tr .rt-td{text-align: center; padding-left: 0;}

.subsTasks_ul{width:100%;}
.subsTasks_ul li
{
  width: 100%;
  color: #fff;
  background: var(--bg-color);
  padding: 15px 15px;
  border-radius: var(--b-radius);
  position: relative;
  margin-bottom: 15px;
  font-size: 15px;
  cursor: pointer;
  padding-right: 45px;
  height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.subsTasks_ul li.active:after
{
  width: 200px;
  height: 1px;
  position: absolute;
  background: var(--bg-color);
  content: '';
  right: calc(0% - 200px);
  margin-top: 10px;
}

.subsTasks_ul li i{position: absolute; right: 15px; font-size: 22px; cursor: pointer; margin-top: -2px; margin-top: -2px;
  top: calc(50% - 8px);}

.creat_subTsksBtn
{padding: 15px; width:100%; margin-bottom: 15px;  font-size: 15px; position: relative; padding-right: 30px;}

.creat_subTsksBtn span{    font-size: 40px;position: absolute;top: 20px;margin-left: 10px;line-height: 0;}

.subtask_info_box--
{
  width: 90%;
  min-height: 250px;
  background: #fff;
  border:solid 1px var(--bg-color);
  padding: 30px;
  border-radius: var(--b-radius);
  margin-top: 10px;
  margin-left: 10%;
}

.subtsks_name{margin-top: 0; color:grey; padding-bottom: 15px; margin-bottom: 15px; font-size: 22px;}

.subtsks_detail{padding-bottom: 15px;}

.add_attachments1
{
  width: 45px;
  height:45px;
  border:solid 1px var(--bg-color);
  border-radius: 50%;
  display: flex;
  align-items: center; 
  justify-content: center;
  color:var(--bg-color);
  font-size: 23px;
  margin-top: 25px;
  float: right;
  cursor: pointer;
}

.add_attachments1:hover{background-color: var(--bg-color); color: #fff;}

.creat_task_btn__{padding: 8px 45px;
  font-size: 14px;
  font-weight: 500;
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

hr{ margin-top: 50px;margin-bottom: 50px;border: 0;border-top: 3px solid var(--bg-color);width: 100px;}

.task_accordnsList_hdng{border-bottom: solid 1px var(--bg-color); margin-top: 30px;}

.task_accordnsList_hdng li
{display: inline-block; height: 50px; padding-top: 10px; border-right: 1px solid var(--bg-color); padding-left: 20px; color:var(--bg-color); font-weight: 600; font-size: 17px;}

.task_accordnsList_hdng li:last-child{border-right: none;}

.wd_10{width:10%;}
.wd_20{width: 20%;}
.wd_15{width: 15%;}
.wd_30{width: 30%;}
.wd_50{width:50%;}
.wd_10{width:10%;}
.wd_25{width:25%;}
.wd_40{width:40%;}

.TaskAccordion_col .panel-group .taskPanel1
{border-radius: var(--b-radius); border:transparent; overflow: hidden; box-shadow: 0px 1px 7px #cecece; margin-bottom: 15px; margin-top: 15px;}

.TaskAccordion_col .panel-group .taskPanel1>.panel-heading{padding: 0px 0;  background-image: none; position: relative;}

.TaskAccordion_col .panel-group .taskPanel1>.panel-heading .panel-title a{padding: 12px 0; display: block;}
/* .jobOpeningCol__ .panel-group .taskPanel1>.panel-heading .panel-title a{border: solid 1px var(--bg-color);} */

.TaskAccordion_col .panel-group .taskPanel1:nth-child(odd)>.panel-heading{background-color: #e1e1e1;}
.TaskAccordion_col .panel-group .taskPanel1:nth-child(even)>.panel-heading{background-color: #fff;}

.task_hdng_dtl{margin-bottom: 0px; display: flex;}

.task_hdng_dtl li{display: inline-block; padding-left: 20px; border-right:1px solid grey;}
.task_hdng_dtl li:last-child{border-right: none; padding-right: 50px;}

.TaskAccordion_col .taskPanel1 .acc_arrow1{position: absolute; top: 12px; right: 15px; color:var(--bg-color);}
.TaskAccordion_col .taskPanel1 .collapsed .acc_arrow1{ transform: rotate(-90deg);}

.TaskAccordion_col .taskPanel1 .panel-body{padding: 0;}

.TaskAccordion_col .panel-group .taskPanel1:nth-child(odd) .panel-body{background-color: #eeeeee;}
.TaskAccordion_col .panel-group .taskPanel1:nth-child(even) .panel-body{background-color: #fff;}

.Invited_Attendees__
{padding: 15px;border-bottom: solid 1px var(--bg-color);border-top: solid 1px var(--bg-color);}

.attendees_box
{width: 100%; height: auto; border-radius: var(--b-radius); border:solid 1px var(--bg-color); background: #fff; margin-bottom: 15px;}
.attendees_box ul {padding-left: 20px; margin-bottom: 0; display: flex; align-items: center;}
.attendees_box ul li{ display: inline-block;padding: 13px 15px; border-right: solid 1px #d4d4d4; font-size: 15px; align-items: center; position: relative;}
.attendees_box ul li:last-child{border-right: none;}

.clr_approved{color:#04a651;}
.clr_pending{color:#f7941d;}
.clr_declined{color:#ed1c24;}

.Attend_status1{font-weight: 700;}

.atndee_tskBtn{padding: 5px 20px; font-size: 13px;}
.atndee_tskBtn.right{float: right; position: absolute; right:15px; top: calc(50% - 15px);}

.attendees_box ul li.action_Invili{ padding-right: 150px;}

.Day_Sub_Tasks
{border-bottom: solid 1px var(--bg-color);padding: 15px;margin-bottom: 15px;}

.Sub_Tasks_Hdng__ {background-color: var(--bg-color); color:#fff; border-radius: var(--b-radius); padding: 0 15px;  margin-bottom: 15px;}

.Sub_Tasks_Hdng__ .subTsks_hdngUl li
{display: inline-block; padding: 10px 15px; border-right: solid 1px #fff; font-size: 17px; font-weight: 600;}
.Sub_Tasks_Hdng__ .subTsks_hdngUl li:last-child{border-right: none;}

.realct_btn{margin-top: 10px; display: block; margin: 10px auto;}

.subtasks_listsBox .panel-heading
{background-color: #fff; background-image: none; border-bottom: solid 1px var(--bg-color); padding: 0 15px; position: relative;}

.subtasks_listsBox .panel-heading .sbtskEye{position: absolute; top: 8px; right: 15px; color:var(--bg-color); font-size: 24px;}
.subtasks_listsBox .panel-body{background-color: #fff !important; padding: 8px 15px !important;}
.subtasks_listsBox .panel{border-radius:var(--b-radius); overflow: hidden; border:solid 1px var(--bg-color); margin-bottom: 15px;}

.cmnUl_Des{display: flex; align-items: center; margin-bottom: 0;}
.cmnUl_Des li{display: inline-block; padding: 10px 15px; }

.subtasks_listsBox .SubTasks_panLi li{border-right: solid 1px #cecece; font-size: 18px; font-weight: 500;}
.subtasks_listsBox .SubTasks_panLi li:last-child{padding-right: 50px; border-right: none;}

.cstm_checkbox input.checkbox1[type="checkbox"]{position: absolute; visibility: hidden;}
.csTum_checkbox {display: inline-block;position: relative;padding-left: 35px; margin-bottom: 0;cursor: pointer;font-size: 22px !important;  line-height: inherit !important;}
.csTum_checkbox input {cursor: pointer; width: 0; height: 0; opacity: 0;}

.checkmark {
  position: absolute;
  top: 2px;
  left: 10px;
  height: 23px;
  width: 25px;
  border-radius: 5px;
  background-color: #eee;
  border:solid 1px var(--bg-color);

}
.contacsTum_checkboxiner:hover input ~ .checkmark {background-color: #ccc;}
.csTum_checkbox input:checked ~ .checkmark { background-color: #2196F3;}
.checkmark:after { content: "";position: absolute;display: none;}
.csTum_checkbox input:checked ~ .checkmark:after {display: block;}

.csTum_checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.subTasks_Action__{text-align: right; margin-bottom: 10px;}
.subTasks_Action__ li{display: inline-block;font-size: 13px; cursor: pointer; position: relative; border-right:1px solid grey;}
.subTasks_Action__ li:last-child{border-right: none;}
.subTasks_Action__ li .sbTsk_li{text-decoration: underline !important; display: block;  padding:0 10px; font-weight: normal;}
.subTasks_Action__ li .sbTsk_li:hover{color:var(--bg-color);}
.subTasks_Action__ li .sbTsk_li .csTum_checkbox{top: -5px;}

.attendees_navEx{padding:0 15px; margin-bottom: 20px;}
.jobMain_dets__{padding: 15px;border-bottom: solid 1px var(--bg-color); margin-bottom: 15px; position: relative;}
.jobMain_dets__::before
{height: calc(100% - 30px); width: 1px; background: var(--bg-color); position: absolute; top: 15px; left: 50%; content: '';}

.jobMain_dets__ .vw_aplcnt_btn{width: 250px; padding-right: 30px;  margin-top: 30px;}

.cmn-btn1.eye-btn{padding-right: 50px !important; position: relative;}
.eye-btn:after{content: "\4f";font-family: "icons_me";position: absolute; right: 10px;font-size:16px;top: 4px;}


.jobMaindets_ul li{font-weight: normal;font-size: 15px;}
.bor_right{border-right:1px solid var(--bg-color);}
.bor_left{border-left:1px solid var(--bg-color);}

.posted_ul12__{width: 220px;margin-left:80px; }
.posted_ul12__ li
{ padding: 7px 15px; padding-right:30px ; font-weight: normal; font-size: 15px; background-color: var(--bg-color); cursor: pointer; margin-bottom: 10px; border-radius: var(--b-radius); color: #fff; position: relative;}
.posted_ul12__ li:hover{ box-shadow: 0px 5px 15px #cecece;}
.posted_ul12__ li:after{content: "\4f";font-family: "icons_me";position: absolute; right: 10px;}

.jobMain_foot__{padding: 5px 15px;}

.creaJobRow1__ label{padding-left: 15px; font-size: 18px; margin-top: 15px;}
.creaJobRow1__ {margin-bottom: 15px; padding-bottom: 15px;}

.resume_slider{padding-bottom: 50px; position: relative; border-bottom: solid 1px var(--bg-color); margin-bottom: 15px;}
.resume_slider  .slick-slider{ width: 100%;}
.resume_slider  .slick-slider .slick-slide{padding: 10px;}
.resume_slider  .slick-slider .slick-slide>div:focus{outline: none;}
.resume_slider  .slick-slider .slick-slide>div>div:focus{outline: none;}

.template_slide{ border:solid 1px var(--bg-color); padding: 15px; text-align: center; border-radius: var(--b-radius); cursor: pointer; }
.template_slide img{width: 100%;}
.template_slide h5{margin-top: 0; margin-bottom: 10px; font-weight: 500; font-size: 14px;}
.template_slide.selected {background-color: var(--bg-color); color: #fff;}
.template_slide.selected h5{color: #fff;}

.resume_slider .slick-arrow:before{color: var(--bg-color); font-size: 25px;}

.resume_slider .slick-next, .resume_slider .slick-prev{width: 30px; height: 30px;}
.resume_slider .slick-arrow{top: 100%;margin-top: 20px;}
.resume_slider .slick-prev{left: calc(50% - 50px);}
.resume_slider .slick-next{right: calc(50% - 50px);}

.csForm_control.inp_blue{background-color: var(--bg-color); color: #fff;}
.csForm_control.inp_blue:focus{color: var(--bg-color); background-color: #fff;}

.add_Ques{text-align: center;}
.add_ic
{
  width: 35px; height: 35px;  color:var(--bg-color); display: flex;
  align-items: center; justify-content: center; font-size: 30px; border-radius: 50%;
  cursor: pointer; float: right;
}

input[type='button'].pst_btn{height: 40px; width: 100% !important;}

.title_frameDv{width: 70%; margin: 0 auto;}

.react-datepicker-wrapper,.react-datepicker__input-container{display: block !important;}

input[type="text"].csForm_control.inp_blue::-webkit-input-placeholder {color: #fff;}
input[type="text"].csForm_control.inp_blue:focus::-webkit-input-placeholder {color: grey;}

.subTasks_Action__.left{text-align: left;}

.crte_svBtn{padding: 12px 40px; margin-left: 10px;}

.createJob_sec{padding-bottom: 150px;}

.csForm_control.txt_area{height: 100px; max-width: 100%; min-width: 100%; padding: 15px;}
.csForm_control.txt_area.editor{height: 800px; max-height: 700px;}

.JO_hdng2
{border-top: solid 1px var(--bg-color); border-bottom: solid 1px var(--bg-color); margin-top: 15px; margin-bottom: 15px;}

.JO_hdng2 h4{color: var(--bg-color); margin: 10px 0;}

.jOpen_table_dv{width: 90%; margin: 15px auto; padding-bottom: 15px;}

.JoTab_hdng{border-bottom: solid 1px #000;  padding: 10px 0; margin-bottom: 15px;}
.JoTab_hdng li{display: inline-block; font-size: 15px; font-weight: 500; padding-left: 20px;}

.Jlst_detTab{background-color: #fff; border-radius: var(--b-radius); padding: 13px 0; margin-bottom: 10px;}
.Jlst_detTab .task_hdng_dtl>li{border-right-color: var(--bg-color);
  position: relative;
  padding-right: 35px;
  word-break: break-all;
  font-size: 13px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;}
.Jlst_detTab .task_hdng_dtl{display: flex;}
.JoAplcnt_list__{border-bottom: dashed 1px var(--bg-color); padding-bottom: 10px; margin-bottom: 10px;}

.jbAplc_tags__ span
{ background: #fff;color:var(--drk-color1);border:solid 1px var(--drk-color1); cursor: pointer;  display: inline-block;padding: 7px 18px;margin-right: 10px;border-radius: var(--b-radius);font-size: 13px; font-weight: normal;}

.jbAplc_tags__ span.active,
.jbAplc_tags__ span:hover
{background: var(--drk-color1);color: #000;}

.Jlst_detTab .task_hdng_dtl>li .see_docs
{position: absolute; right: 10px; color: var(--bg-color); cursor: pointer; font-size: 20px; top: -2px;}

.jobOpModal_foot__{border-top: solid 1px var(--bg-color);padding: 10px 15px;}

.resume_dialog
{
  position: absolute;
  width: 1000px; 
  background-color: #fff;
  z-index: 150;
  min-height: 800px;
  top: 100px;
  left:calc(50% - 500px);
  border-radius: 50px;
  box-shadow: 0px 0px 15px #cecece;
  padding: 15px 30px;
  display: none;
}


.resume_dialog.show{display: block;}

.tmpDia_hdng{border-top: solid 1px var(--bg-color);border-bottom: solid 1px var(--bg-color); padding: 10px 0; margin-top: 15px; position: relative;}
.tmpDia_hdng h3{margin-top: 0; margin-bottom: 0; width:auto; text-align: center; font-size: 20px; display: inline-block; color: var(--bg-color);}

.mdl_CloseTl{position: absolute; right: 0; color: var(--bg-color); cursor: pointer; font-size: 25px;}

.thumbList_aside{width: 150px; height: 600px; float: left; position: relative; overflow: hidden;}
.tmp_thum_aside{overflow-y: auto ; height: 100%; padding-right: 10px;}
.tmp_thum_aside p{position: absolute; margin-top: -20px;}
.tmp_thum_aside .tmp_thumb{border:solid 1px transparent; padding: 10px; margin-bottom: 10px; cursor: pointer;}

.tmp_thum_aside .tmp_thumb:hover,
.tmp_thum_aside .tmp_thumb.active
{border: solid 1px var(--bg-color);}

.tmp_thum_aside .tmp_thumb img{width: 100%;}

.temp_showcase1__{padding: 15px 0; padding-bottom: 0; border-bottom: solid 1px var(--bg-color);}

.scrol_des::-webkit-scrollbar
 {width: 7px;background-color: transparent;border-radius: var(--b-radius);margin-right: 10px;cursor: pointer;}
 
 
.scrol_des::-webkit-scrollbar-thumb {
  background-color:#b9b9b9;
  outline: none;
  border-radius: var(--b-radius);
  cursor: pointer;
  border:solid 1px var(--bg-color);
}

.scrol_des::-webkit-scrollbar-corner { background-color: transparent;}

.tmplate_mnShow
{
  float: left;
  width: calc(100% - 150px);
  padding:0 15px;
  padding-right: 50px;
  height: 600px;
  overflow-y: auto;
}

.tmplate_mnShow img{width: 100%;}

.dwnld_res_bt {width: 150px; text-align: center; cursor: pointer; display: inline-block; float: right; margin-top: 15px;}
.dwnld_res_bt i{color: var(--bg-color); font-size: 25px;}
.dwnld_res_bt p{font-size: 16px;}
.dwnld_res_bt:hover{color:var(--bg-color);}

.cstmDLCl{right: 30px; color: #fff; font-size: 30px; top: 30px;}

.lab_vrt label{ margin-top: 12px; font-size: 14px;font-weight: 700 !important; }

.dashboard_Table .ReactTable .rt-tr .rt-td{font-size: 16px; font-weight: 500;}
.rec-table-icon{margin-top: 5px;}

.dataTab_accrdn_cmn .icn_ar1{ font-size: 14px;}
.dataTab_accrdn_cmn .icn_ar1:before{position: static;}
.aplcnt_table .icn_ar1{color: var(--bg-color);}

.data_table_cmn.aplcnt_table .rt-thead .rt-th:nth-child(6),
.data_table_cmn.aplcnt_table .rt-thead .rt-td:nth-child(6),
.data_table_cmn.aplcnt_table .ReactTable .rt-tr .rt-td:nth-child(6)
{border-right: transparent !important;}

.data_table_cmn.aplcnt_table .ReactTable.-striped .rt-tr.-even{background: #fff !important;}

/* table progress */
.table_progress .ReactTable .rt-tbody .rt-tr:before,
.table_progress .ReactTable .rt-tbody .rt-tr:after
{content: ''; position: absolute; width: calc(100% - 2px); height: 100%; left: 1px;bottom: -4px;border-radius: var(--b-radius);}

.table_progress .ReactTable .rt-tbody .rt-tr-group{padding-bottom: 5px;}
.table_progress .ReactTable .rt-tbody .rt-tr:before{background-color: #72d0f5;z-index: -3;}
.table_progress .ReactTable .rt-tbody .rt-tr:after{background-color:var(--bg-color);z-index: -2; width: 10%;  }

.applicant_info1
{background-color: #fff;min-height: 200px; padding:0 15px; margin-top: 0px;z-index: 0; padding-top: 0px; position: relative; 
border-radius: 0px 00px var(--b-radius) var(--b-radius);}

.bor_top{border-top: solid 2px var(--bg-color);}

.appli_row1{padding: 15px; font-size: 15px; }

.applis_dets1 p{margin-bottom: 0;}

.applis_dets1 p b{word-break: break-all;}
.applis_dets1{margin-bottom: 15px;}
.btn.apli_btn__{width:300px; margin-top: 15px; margin-bottom: 10px; max-width: 100%;}

.applicant_info1 .progress{margin-bottom: 0; width: calc(100% + 30px); margin-left: -15px; border-radius: 0px 0px var(--b-radius) var(--b-radius); background:var(--light-color2); height: 23px; }
.applicant_info1 .progress .progress-bar{background-color: var(--bg-color); background-image: none; height: 40px;letter-spacing: 0.5px; font-weight: normal;}

.applicant_info1 .btn.mob_btn{width: 230px; max-width: 100%;}
.eye-btn.mob_btn:after{content:"\e0a9";}

.dcmntBtns_dv{width: 80%;}
.dcmntBtns_dv .btn{font-size: 15px; margin-right: 15px; margin-bottom: 15px;}

.cntsDv{min-height: 145px;}

.applicant_info1 .dwnld_btn1{font-size: 24px; color:var(--bg-color); position: absolute; right: 15px; bottom: 15px; cursor: pointer;}

.cnstRow{margin-bottom: 15px; border-bottom: solid 1px #c8c8c8;padding-bottom: 10px; display: flex;}

.apli_nmDv{border-bottom: solid 1px var(--bg-color); padding-bottom: 15px; margin-bottom: 10px;}
.apli_nmDv h2{font-size: 22px; margin-top: 10px;}
.apli_nmDv h2 span{font-size: 16px; display: inline-block; font-weight: normal;}
.apli_nmDv p{font-size: 15px;}

.apInfo_Slct .Select,
.apInfo_Slct .Select div,
.apInfo_Slct .Select input,
.apInfo_Slct .Select span
{text-align: center;}

.cntct_info{margin-top: 10px;}
.cntct_info table{font-size: 16px;}
.cntct_info table tr td{padding-bottom: 15px;}

.btn.edit_aplctn{padding: 8px 30px; margin-top: 25px; margin-bottom: 15px;}

.pd_tb_15{padding-top: 15px; padding-bottom: 15px;}

.eye-btn.browse_btn:after{content: "\e080";}

.srve_liDv{display: flex; align-items: center; justify-content: space-between;}
.srve_liDv .btn.s_bt{width: 140px; margin-right: 15px;}
.srve_liDv .btn.b_bt{width: 200px;}
.srve_liDv .btn.s_bt2{width: 170px; }
.srve_liDv .btn.b_bt2{width: 220px;}

.srve_li23{margin-top:30px;}
.srve_li23 li{margin-bottom: 15px;}

.dwndldie{font-size: 20px; cursor: pointer ; color:var(--bg-color); margin-left: 7px;}

.srve_dwdnld_col h4{margin-top: 0;}
.col_hgCmn{min-height: 300px;}

.bor_left2{border-left:dashed 1px var(--bg-color);}
.notify_bor{border-left:dashed 1px var(--bg-color);}

.notify_ul__ li{width: 50%; display: inline-block; text-align: center; margin-bottom: 15px; cursor: pointer;}
.notify_ul__ li i
{ width: 50px; height: 50px; border-radius: 50%; border:solid 1px var(--bg-color);
  display: flex; align-items: center; justify-content: center; margin: 0 auto; font-size: 18px;
  color:var(--bg-color);
}

.notify_ul__ li:hover i{background-color: var(--bg-color); color:#fff;}

.notify_ul__ li div{font-size: 17px; margin-top: 5px;}

.quizRslt_btn{width: 100%;}

.main_timelineBox{position: relative; min-height: auto; padding: 50px 100px; float: left; width: 100%;}

.main_timelineBox::before
{
  content:'';
  position: absolute;
  width: 12px;
  height: calc(100% - 220px); left: 50%;
  margin-left: -6px;
  background-color: var(--bg-color);
  border-radius: var(--b-radius);
}

.timeline_step{position: relative; height: auto; margin-bottom: 30px; float: left; width: 100%; z-index: 0;;}

.timeline_stepNum
{
  position: absolute; display: flex; width: 90px; height:90px; border:solid 8px var(--bg-color); justify-content: center; align-items: center;
  font-size: 25px; border-radius: 50%; font-weight: 700; color:var(--bg-color); left: 50%; margin-left: -45px;background-color: #fff;
  top: 100px; margin-top: -45px; z-index: 1;
}
.timeline_step.done .timeline_stepNum{background-color:var(--bg-color); color:#fff;}
/* .timeline_stepNum.done{background-color:var(--bg-color); color:#fff;} */


.boxesDiv{width: 40%; position: relative;}
.boxesDiv .timeLine_detaiBox::after{content:''; position: absolute; width: 8px; height: 25px;bottom: -30px; left: calc(50% - 4px); background: var(--bg-color);}

.boxesDiv .timeLine_detaiBox:last-child::after
{display: none;}

.timeline_step:nth-child(odd) .boxesDiv{float: left;}
.timeline_step:nth-child(even) .boxesDiv{float: right;}


.timeLine_detaiBox
{
  width: 100%;
  min-height: 200px;
  background-color: #fff;
  border:solid 5px var(--bg-color);
  border-radius: var(--b-radius);
  position: relative;
  text-align: center;
  padding: 15px;
  margin-bottom: 25px;
}

.boxesDiv > .timeLine_detaiBox:first-child:before
{
  content: '';
  position: absolute;
  width: 19%;
  height: 12px;
  background: var(--bg-color);
  top: 92px;
  margin-top: -4px;
  z-index: -1;
}

.boxesDiv > .timeLine_detaiBox:last-child
{margin-bottom: 0;}

.timeLine_detaiBox.dv_full{width: 100%;}

.timeline_step.disabled .timeLine_detaiBox{opacity: 0.5;cursor:not-allowed; pointer-events: none;}
.timeline_step:nth-child(odd) .timeLine_detaiBox{float: left;}
.timeline_step:nth-child(odd) .timeLine_detaiBox:first-child:before{right:-19%; }
.timeline_step:nth-child(even) .timeLine_detaiBox{float: right;}
.timeline_step:nth-child(even) .timeLine_detaiBox:first-child:before{left:-19%; }

.timeLine_hdng{position: relative; margin-bottom: 15px; width: 46%;}
.timeLine_hdng::after
{position: absolute; content: ''; background: var(--bg-color); width: 8%; height: 12px; border-radius: var(--b-radius); right: -10%; margin-right: 1px; top: -0;}

.timeLine_hdng .hdng_pos11{float: right;}
.timeLine_hdng h3{margin-top: -5px; margin-bottom: 0; font-size: 19px;}
.timeLine_hdng p{margin-bottom: 0;}

.btn_li{border-top: solid 1px var(--bg-color); border-bottom: solid 1px var(--bg-color); padding-top: 15px; margin-top: 15px;}
.btn_li .btn{margin-right:15px; margin-bottom: 15px;}

.subTasks_Action__.tsk_center{text-align: center; margin-top: 15px;}
.subTasks_Action__.tsk_center li{font-size: 16px;}
.timeLine_slct{width: 200px; margin: 10px auto;}


.cmn_select_dv{position: relative;}

/* pending dropdown color */
.cmn_select_dv .pending  .Select-control{background-color: #f16522 !important;}
.cmn_select_dv .pending.is-focused.is-open > .Select-control{background: #f16522 !important;}
.cmn_select_dv .pending.Select.is-focused:not(.is-open) > .Select-control{background: #f16522 !important;}
.cmn_select_dv .pending .Select-control .Select-input:focus{background:#f16522 !important; }

/* success dropdown color */
.cmn_select_dv .success  .Select-control{background-color: #00a551 !important;}
.cmn_select_dv .success.is-focused.is-open > .Select-control{background: #00a551 !important;}
.cmn_select_dv .success.Select.is-focused:not(.is-open) > .Select-control{background: #00a551 !important;}
.cmn_select_dv .success .Select-control .Select-input:focus{background: #00a551 !important; }


/* cancelled dropdown color */
.cmn_select_dv .cancelled  .Select-control{background-color: #e91e1e !important ;}
.cmn_select_dv .cancelled.is-focused.is-open > .Select-control{background: #e91e1e  !important ;}
.cmn_select_dv .cancelled.Select.is-focused:not(.is-open) > .Select-control{background: #e91e1e !important;}
.cmn_select_dv .cancelled .Select-control .Select-input:focus{background: #e91e1e !important; }

.timeline_step .dareStatus{width: 100%; margin-top: 10px;}
.timeline_step .dareStatus p {width: 40%; position: absolute}

.timeline_step:nth-child(odd) .dareStatus{float: left; text-align: left;}
.timeline_step:nth-child(odd) .dareStatus p{left: 0;}
.timeline_step:nth-child(even) .dareStatus{float: right; text-align: right;}
.timeline_step:nth-child(even) .dareStatus p{right: 0;}


.awaitMsg{color: #f16522;text-align: center; font-size: 16px;}

.btn.rmndr_btn{width: 250px; margin-top: 10px; margin-bottom: 10px; max-width: 100%;}

.add_task22
{border-top:solid 1px var(--bg-color); border-bottom:solid 1px var(--bg-color);}

.add_task22 span{font-size: 40px; margin-top: 10px; display: inline-block; color: var(--bg-color); cursor: pointer;}

.cmn-btn2.eye-btn{padding-right: 50px !important; position: relative;}

.eye-btn.add_btn:after{content: "\e04e";}

.btn.check_complete,
.btn.check_complete:hover
.btn.check_complete:focus
{border:solid 1px #00a551 !important; color:#00a551; pointer-events: none; padding: 5px 30px; border-radius: 18px; background: #fff;}

.btn.check_complete span{text-align: left; display:block; }

.btn.eye-btn.check_complete::after{content:"\e04b"; margin-top: 5px; }

.cab_doneList{border-top: solid 1px var(--bg-color); border-bottom: solid 1px var(--bg-color); margin: 10px 0;  width: 100%; padding-top: 10px;}
.cab_doneList li{width: 80%; border:solid 2px grey; border-radius: var(--b-radius); position: relative; padding: 8px; margin: 0 auto; font-size: 15px; margin-bottom: 10px; padding-right: 30px;}
.cab_doneList li::after{ position: absolute; right: 10px; font-family: "icons_me";}
.cab_doneList li.done{color: #00a551; border-color: #00a551;}
.cab_doneList li.done::after{content:"\e04b";}
.cab_doneList li.notDone{color: #e91e1e; border-color: #e91e1e;}
.cab_doneList li.notDone::after{content:"\e043";}

.cntct_info.cntct_inf2 table tr td{padding-bottom: 5px; vertical-align: top;}

.apli_info2{width: 90%; padding-bottom: 15px; margin-bottom: 15px;}
.apli_info2 h5{font-size: 16px;}
.res_info2D{font-size: 18px; padding: 0px 15px;}
.res_info2D ul{margin: 30px 0;}

.res_info2D ul li{margin-bottom: 5px;}
.bor_left_right{border-left:solid 1px var(--bg-color);border-right:solid 1px var(--bg-color);}

.ansRatngUl{width: 80%; margin-left: 20%;}
.ansRatngUl li{display: flex; border:solid 1px var(--bg-color); cursor: pointer; padding: 10px; border-radius: 15px; align-items: center; margin-bottom: 15px;}
.ansRatngUl li .labelLit{width: 40%; padding-right: 10px;}
.ansRatngUl li .answer_bar{width: 55%; padding-right: 30px;}
.ansRatngUl li .answer_bar .bar1{ height: 20px; background: grey;}
.ansRatngUl li .answer_bar .bar1.answer{background: #00a551;}
.ansRatngUl li .answer_bar .bar1.total{background: #e91e1e;}
.ansRatngUl li .labelLit{text-align: right; padding-right: 15px;}
.ansRatngUl li .labelLit p{font-size: 18px; font-weight:700; margin-bottom: 0; word-break: break-all;}
.ansRatngUl li .labelLit span{font-size: 15px;}
.ansRatngUl li .iconEye span{color: var(--bg-color); font-size:25px; }
.ansRatngUl li.active{background: var(--bg-color); color:#fff;}
.ansRatngUl li.active .iconEye span{color: #fff; }

.resInfo_row__{border-bottom: solid 1px var(--bg-color); padding-bottom: 15px; margin-bottom: 15px; display: flex;}

.resInfo_row__ h4{margin-top: 15px;}

.resColrow{padding: 15px 0;}
.col_100{width: 130px;}
.resultColM{display: flex; align-items: center; margin-bottom: 30px; padding-bottom: 30px; border-bottom: dashed 1px var(--bg-color);}
.quesAns_box__
{width: calc(100% - 260px); border:solid 1px var(--bg-color); padding:30px; border-radius: var(--b-radius); min-height: auto; background: #fff; padding-bottom: 10px;}

.quesAns_box__ h4{margin-bottom: 10px; margin-top: 15px;}


.circQues
{width: 90px; height: 90px; background: grey; display: flex; align-items: center; justify-content: center; border-radius: 50%; margin: 0 auto;}
.circQues.QuesNo__{background: var(--bg-color); color: #fff; font-size: 35px; font-weight: 700;}

.circQues.checkieRe:before{color: #fff; font-size: 40px; font-family: "icons_me"; position: absolute;}
.circQues.checkieRe.correct{background:#00a551; }
.circQues.checkieRe.correct:before{content: "\70";}
.circQues.checkieRe.unCorrect{background:#e91e1e; }
.circQues.checkieRe.unCorrect:before{content:"\e038";}

.qShwcse{margin-top:30px;}
.qShwcse p{font-size: 15px;}
.queBxFoot{border-top: solid 1px var(--bg-color); padding: 10px 0; margin-top: 10px;}

.answrShw{float: left; width: 100%; display: flex; flex-wrap: wrap;}
.answrShw li{position: relative; width: 50%; padding: 7px; padding-right: 50px; display: inline-block; margin-bottom: 10px; float: left;}
.answrShw li span{font-size: 14px; display: inline; color: #696969;}
.answrShw li b{display: inline-block; padding-right: 5px;}
.answrShw li::after
{ width: 22px;height: 22px;border-radius: 50%; color: #fff; font-size: 10px; display: flex;
  justify-content: center; align-items: center; font-family: "icons_me";
  position: absolute; right: 15px; top: 7px;
}

.answrShw li.wrongAnswer::after{content: '\e038'; background:#e91e1e; }
.answrShw li.rightAnswer::after{content: '\70'; background:#00a551; }

.applicant_info1.training_info1
{padding: 0px 30px;}

.training_info1>.trngBoxAc>.row{display: flex;;}

.trngBoxAc{padding-top: 15px; border-top: solid 2px var(--bg-color);}
.trngBoxAc h4{margin: 10px 0;}

.data_table_cmn.trainTable .rt-thead .rt-th:nth-child(5),
.data_table_cmn.trainTable .rt-thead .rt-td:nth-child(5),
.data_table_cmn.trainTable .ReactTable .rt-tr .rt-td:nth-child(5)
{border-right: transparent !important;}

.accFootRow1{border-top: solid 1px var(--bg-color); padding: 10px 0; margin-top: 15px;}
.accFootRow1 h4{margin-top:5px; font-size: 16px;}

.data_table_cmn.hdng_cmn2 .ReactTable .rt-thead.-header
{  color: var(--bg-color);background-color:transparent; box-shadow: none; font-size: 15px; font-weight: 600; border-bottom: solid 1px var(--bg-color); border-radius: 0;}

.data_table_cmn.hdng_cmn2 .ReactTable .rt-thead .rt-th
{border-right: 1px solid var(--bg-color);}

.QId{margin-top: 5px;}

.cmn_select_dv.dropDwnType2 .Select-control{background-color: #fff !important; border:solid 1px var(--bg-color) !important;}
.cmn_select_dv.dropDwnType2 .Select-control .Select-input > input{color: #000; }
.cmn_select_dv.dropDwnType2 .Select.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.cmn_select_dv.dropDwnType2 .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label
{color: #000 !important;}
.cmn_select_dv.dropDwnType2 .Select-arrow::before, .cmn_select_dv.dropDwnType2 .box_wide .Select-arrow::before{color:#000 !important;}
.cmn_select_dv.dropDwnType2 .Select.is-focused:not(.is-open) > .Select-control,
.cmn_select_dv.dropDwnType2 .is-focused.is-open > .Select-control
{background: #fff !important;}

.cmn_select_dv.dropDwnType2 .Select-placeholder{color:#000 !important;}
.cmn_select_dv.dropDwnType2 .Select.is-focused.is-open > .Select-control  .Select-placeholder,
.cmn_select_dv.dropDwnType2 .Select.is-focused:not(.is-open) >.Select-control  .Select-placeholder
{color: var(--bg-color);}

.cmn_select_dv.dropDwnType2 .Select-arrow,
.cmn_select_dv.dropDwnType2 .Select.is-open > .Select-control .Select-arrow
{border-color: var(--bg-color) transparent transparent !important;}
.cmn_select_dv.dropDwnType2 .Select-control .Select-input:focus{background:#fff !important; }
.cmn_select_dv.dropDwnType2 .Select-clear{color: #000;}


.pd_b_20{padding-bottom: 20px;}
.mr_b_20{margin-bottom: 20px;}

.csForm_control.brRad10{border-radius: 10px;}

.pd_l_15{padding-left: 15px;}

.radio_form_control1_ [type="radio"]:checked,
.radio_form_control1_ [type="radio"]:not(:checked),
.radio_form_control1_ [type="checkbox"]:checked,
.radio_form_control1_ [type="checkbox"]:not(:checked)
	{position: absolute;
    /* left: 0px; */
    opacity: 0;
    width: 40px;
    height: 40px;}

.radio_form_control1_ [type="radio"]:checked + label,
.radio_form_control1_ [type="radio"]:not(:checked) + label,
.radio_form_control1_ [type="checkbox"]:checked + label,
.radio_form_control1_ [type="checkbox"]:not(:checked) + label,
.radio_form_control1_ [type="radio"]:checked + div + label,
.radio_form_control1_ [type="radio"]:not(:checked) + div + label,
.radio_form_control1_ [type="checkbox"]:checked + div + label,
.radio_form_control1_ [type="checkbox"]:not(:checked) + div + label
	{cursor: pointer;display: inline-block;}

.radio_form_control1_ [type="radio"]:checked + label:before,
.radio_form_control1_ [type="radio"]:not(:checked) + label:before,
.radio_form_control1_ [type="checkbox"]:checked + label:before,
.radio_form_control1_ [type="checkbox"]:not(:checked) + label:before,
.radio_form_control1_ [type="radio"]:checked + div + label:before,
.radio_form_control1_ [type="radio"]:not(:checked) + div + label:before,
.radio_form_control1_ [type="checkbox"]:checked + div + label:before,
.radio_form_control1_ [type="checkbox"]:not(:checked) + div + label:before
	{
	  position: relative; width: 40px; height: 40px; border-radius: 100%;
		font-family: "icons_me"; display: flex; align-items: center;
	  justify-content: center; color: #fff; font-size: 20px;
	}

.radio_form_control1_ [type="radio"]:not(:checked) + label:before,
.radio_form_control1_ [type="checkbox"]:not(:checked) + label:before,
.radio_form_control1_ [type="radio"]:not(:checked) + div + label:before,
.radio_form_control1_ [type="checkbox"]:not(:checked) + div + label:before
{content: '\e038';background-color: #e89699;}

.radio_form_control1_ [type="radio"]:checked + label:before,
.radio_form_control1_ [type="checkbox"]:checked + label:before,
.radio_form_control1_ [type="radio"]:checked + div + label:before,
.radio_form_control1_ [type="checkbox"]:checked + div + label:before
{background-color: #00a551; content: '\70';}

.mr_t_30{margin-top: 30px;}

.ques_col{position: relative;}
.ques_col:after{position: absolute; height: 100%; border-left: dashed 1px var(--bg-color); width: 1px; content: ''; right: 20%; opacity: 0.5;}
.trnMod_Foot__{margin-top: 15px; padding: 15px 0; border-top: solid 2px grey;}

.create_quesBtn{padding: 10px 30px;}

.data_table_cmn.usrMngeTable .ReactTable .rt-thead .rt-th:nth-child(4),
.data_table_cmn.usrMngeTable .ReactTable .rt-tr .rt-td:nth-child(4)
{border-right: transparent;}

.profDet_lSe{float: left; width: 95%;}
.prof_left{float: left; width: 100px; padding-right: 15px; text-align: center;}
.prof_left .profImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.prof_left .profImg img{width: 100%; height: auto; min-height: 100%;}
.edt_btn{padding: 5px 20px;}
.prof_right{float: right; width: calc(100% - 110px); padding:0 15px; word-break: break-all;}
.cntBxiE h5{margin-bottom: 0; margin-top: 20px;}

.prof_right div{font-weight: normal; font-size: 14px;}
.prof_right div b{word-break: break-all; display: inline-block;}

.usName{margin-top: 0; margin-bottom: 10px;}

.eye-btn.permisnEdit{width: 100%; margin-bottom: 10px;}
.eye-btn.permisnEdit:after{content: "\e07E";}
.hd_para{font-size: 16px; line-height: inherit;}

.cstmSelect2{position: relative; width: 100%; margin-bottom: 15px; }
.optSelected_cS
{width: 100%; height: 40px; overflow: hidden; display: flex; align-items: center; position:relative; background: var(--bg-color); cursor: pointer; color: #fff; border-radius: var(--b-radius); padding: 5px 15px; padding-right: 30px;}
.optSelected_cS span{display: inline-block;}
.optSelected_cS::after
{position: absolute; right: 15px; content: '\e07e'; font-family: 'icons_me'; font-size: 17px;}

.cstmSelect2_optionsBox
{width: 200px; background: #9bdef8; padding: 15px; min-height: 200px; border-radius: 10px; position: absolute; left: calc(100% + 20px); margin-top: -60px; display: none; z-index: 200;}

.applicant_info1.usrMng{z-index: inherit;}
.cstmSelect2_optionsBox p{font-size: 16px;}

.cstmSelect2_optionsBox.show{display: block;}

.cstmSelect2_optionsBox::before
{
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #9bdef8 transparent transparent;
  left: -10px;
  margin-top: 14px;
}

.csTm2Slct_options li
{
  position: relative;
  width: calc(100% - 40px);
  border:solid 1px var(--bg-color);
  border-radius: var(--b-radius);
  background: #fff;
  padding: 3px 10px;
  font-size: 12px;
  margin-bottom: 3px;
  cursor: pointer;
}

.csTm2Slct_options li::after
{position: absolute; content: "\e013"; font-family: 'icons_me'; right: -25px; color: grey; font-size: 14px; top: 0;}

.csTm2Slct_options li.active,
.csTm2Slct_options li:hover
{background: var(--bg-color); color: #fff;}

.csTm2Slct_options li:hover::after,
.csTm2Slct_options li.active::after
{color: #ffd900;}

.data_table_cmn.usrMngeTable .ReactTable .rt-table,
.data_table_cmn.usrMngeTable .ReactTable .rt-tbody
{overflow: inherit;}

.data_table_cmn.usrMngeTable .ReactTable .rt-tbody .rt-tr{position: static;}

.pd_l_30{padding-left: 40px;}

.usrMngBox{position: relative;}
.usrMngBox::before{width: 1px; height: calc(100% - 80px); content: ''; position: absolute; left: 39%; background: var(--bg-color);}

.eye-btn.add_staff{padding: 13px 20px; margin-right: 7px;}
.eye-btn.add_staff:after{content:"\64"; margin-top: 5px; font-size: 22px;}

.data_table_cmn.taskTable .ReactTable.-striped .rt-tr.-odd{background: #e9e9e9 !important}
.data_table_cmn.taskTable .ReactTable.-striped .rt-tr.-odd + .applicant_info1 {background: #e9e9e9}

.data_table_cmn.taskTable .rt-thead .rt-th:nth-child(5),
.data_table_cmn.taskTable .rt-thead .rt-td:nth-child(5),
.data_table_cmn.taskTable .ReactTable .rt-tr .rt-td:nth-child(5)
{border-right: transparent !important;}

.tskRgHeads h2{margin-top: 10px; margin-bottom: 5px; font-size: 22px;}
.tskRgHeads h3{font-size: 17px; margin-top: 0;}

.avlblty_list__ {margin:10px 0; width: 100%;}
.avlblty_list__ .avlblty_box{border:solid 1px var(--bg-color);padding: 15px;border-radius: 10px;background: #fff;margin-bottom: 15px; font-size: 13px;}

.pad_l_50Ts{padding: 0px 10%;}

.avlblty_box ul{margin-bottom: 0;}

.recruitment_module label{font-weight: 600 !important; font-size: 13px !important;}

label.bg_labs{font-size: 20px; margin-top: 15px;}

.tskModRow1{position: relative;}
.tskModRow1::before{width: 1px; height: 100%; position: absolute; background: var(--bg-color); left: calc(50% + 30px); content:'';}

.btn.snd_iniBtn{padding: 7px 30px;}

.inviRow{margin-top: 15px; padding-top: 30px; margin-bottom: 15px;}

.openingInfo{position: relative;}
.openingInfo::before{width: 100%; height: 1px; background: var(--bg-color); content: ''; position: absolute; left: 0;}

.crJoBtn_Col__ .btn{margin-bottom: 15px; padding: 10px 25px;font-size: 12px; width: auto; height: auto;}

.mr_tp_20{margin-top: 20px;}

.search_bar.navbar_search{margin: 0 auto;width: 500px; max-width: 100%;}
.search_bar.navbar_search input,
.search_bar.navbar_search input:focus
{background: transparent; border:solid 1px #fff; color: #fff; height: 40px; font-size: 15px;  }

.search_bar.navbar_search input::-webkit-input-placeholder {color: #fff;}
.search_bar.navbar_search input:focus::-webkit-input-placeholder {color: #fff;}

.search_bar.navbar_search i{color: #fff; margin-top: 10px;}
.flexRow{display: flex; align-items: center; height: 100%;}

.nav_ulic{width: 100%; text-align: right; margin-bottom: 0;}
.nav_ulic li{display: inline-block;}
.nav_ulic li a,
.nav_ulic li span
{display: block; color: #fff; padding:0 7px; font-size: 23px; cursor: pointer;}

.nav_ulic li a:hover,
.nav_ulic li a:focus,
.nav_ulic li.active a,
.nav_ulic li span:hover,
.nav_ulic li span:focus,
.nav_ulic li.active span,
.lgOutIc:hover,
.lgOutIc:focus
{color: var(--bg-color);}

.lgOutIc{font-size: 23px; color: #fff;}

.sidebar
{ width: 0;background: #fff;height:100%; position: fixed; z-index: 100;top: 0; /* transition: all ease 0.2s; */}

.sidebar.left{left: 0;width: 300px;  transition: all ease 0.2s;}
.sidebar.right{right: 0;width: 300px;  transition: all ease 0.2s;}

/* .sidebar.show{} */

.bodyNormal{ transition: all ease 0.2s;}
.bodyNormal.right{margin-right: 300px; transition: all ease 0.2s;}
.bodyNormal.left{margin-left: 300px;  transition: all ease 0.2s;}


.overlay
{
  position: fixed;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.1);top: 0;
  left: 0;content: '';z-index: 50;display:none;
}

.sideCnts{display: none; padding: 15px;}
.notifyBar .sideCnts.notify_cnt{display: block;}
.mailBar .sideCnts.mail_cnt{display: block;}

.recruitment_module .csform-group .react-datepicker__header{background: var(--bg-color);}

.csform-group .react-datepicker__current-month,
.csform-group .react-datepicker-time__header{color: #fff;}

.csform-group .react-datepicker__day-name
{color: #fff;}

.csform-group .react-datepicker__day-name, .csform-group .react-datepicker__day, .csform-group .react-datepicker__time-name
{font-size: 11px; width: 30px !important; height: 30px; line-height: 30px;}

.recruitment_module .csform-group .react-datepicker__day--keyboard-selected{background:var(--bg-color); color: #fff; }

.csform-group .react-datepicker__day--selected, .csform-group .react-datepicker__day--in-selecting-range, .csform-group .react-datepicker__day--in-range
{background:var(--bg-color); }

.csform-group .react-datepicker__navigation--previous{border-right-color: #fff;}
.csform-group .react-datepicker__navigation--next{border-left-color: #fff;}

.csform-group .react-datepicker__time-container
{position: absolute; right: -70px;}

.csform-group .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item
{padding: 0 5px;font-size: 11px; display: flex; align-items: center;}

.csform-group .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected:hover,
.csform-group .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected
{background-color: var(--bg-color) !important;}

.csform-group .react-datepicker__time-container .react-datepicker__time
{border:solid 1px #aeaeae; overflow: hidden;}

.csform-group .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover
{background-color: var(--bg-color); color: #fff;}

.csform-group  .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before
{border-bottom-color:var(--bg-color);}

.csform-group .react-datepicker__time-list{height: 200px !important;}

.csform-group .react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button)
{right: 10px;}

.csform-group .react-datepicker__current-month,
.csform-group .react-datepicker-time__header
{font-size: 12px;}




.action_calendar .rbc-btn-group span.icon-arrow-left:hover,
.action_calendar .rbc-btn-group span.icon-arrow-right:hover
{color: var(--bg-color);}

/* .action_calendar .rbc-toolbar-label {display: flex;width: 100%;justify-content: center;font-size: 30px;margin: 15px 0px;margin-top: -30px;} */

.cntct_info{padding-right: 15px;}

.action_calendar .rbc-event{background-color: var(--bg-color); font-size: 12px; padding: 5px;}

.action_calendar .rbc-event.rbc-selected {
  background-color:var(--drk-color4); 
}

.myRow{visibility: hidden; height: 0; overflow: hidden;  transition: all ease 5s; }
.myRow.active{display: block; transition: all ease 5s; visibility: visible; height: auto;}

.myRow p{margin-top: 150px;opacity: 0.2; transition: all ease 1s;}
.myRow.active p{margin-top: 0px; opacity: 1; }

.myRow img{opacity: 1; transition: all ease 4s;}
.myRow.active img{opacity: 1;}
.slideBox {height: 400px; overflow: hidden}
.slideBox .slides{height: 90%; opacity: 0.5;}
.slideBox .slides.active{opacity: 1;}

.icon-arrow-red-left:before{content: 'p' !important; top: 0;}


input[type='button']{width: auto !important;}

.RecruitBlue{color:var(--bg-color);}



/* select box code 29 jan */

.Cust_Sel_2 .rrs {position: relative;box-sizing: border-box;}
.Cust_Sel_2 .rrs *,
.Cust_Sel_2 .rrs *:before,
.Cust_Sel_2 .rrs *:after {box-sizing: border-box;}
.Cust_Sel_2 .rrs__button {position: relative;cursor: pointer;height: 30;line-height: 30px;background:var(--bg-color); border-radius: 30px;}
.Cust_Sel_2 .rrs__button--disabled {color: #999999;background: #f5f5f5;cursor: default;}
.Cust_Sel_2 .rrs__button:focus {outline: 0;}
.Cust_Sel_2 .rrs__button + .rrs__options {
  list-style: none;padding: 0;margin: 0;background:#fbf1ee;position: absolute;z-index: 2;
  top: 40px;width: 100%;height: 0;visibility: hidden;overflow: hidden;}
.Cust_Sel_2 .rrs--options-visible .rrs__options {height: auto;visibility: visible;overflow: auto;-webkit-overflow-scrolling: touch;max-height: 305px;padding-bottom: 10px;}
.Cust_Sel_2 .rrs__option {cursor: pointer;padding: 2px 15px;margin: 0;}
.Cust_Sel_2 .rrs__option * {pointer-events: none;}
.Cust_Sel_2 .rrs__option.rrs__option--disabled {color: #999999;background: #f5f5f5;cursor: default;}
.Cust_Sel_2 .rrs__option.rrs__option--header {color: #1e1e1e;cursor: default;font-size: 17px;font-weight: 400;background:#fbf1ee;
  position: -webkit-sticky;position: sticky;top: 0;z-index: 1;border-bottom: 1px solid;border-color: var(--bg-color);padding-top: 7px;padding-bottom: 7px; margin-bottom: 10px;}
.Cust_Sel_2 .rrs__label {padding: 5px 15px;display: -ms-flexbox;display: flex;width: 100%;max-width: 100%;font-size: inherit;white-space: nowrap;-o-text-overflow: ellipsis;
  text-overflow: ellipsis;overflow: hidden;-ms-flex-pack: justify;justify-content: space-between;background: var(--bg-color);color: #fff;border-radius: var(--b-radius);}
.Cust_Sel_2 .rrs__multiselect-label {display: inline-flex;max-width: 100%;line-height: 1;}
.Cust_Sel_2 .rrs__multiselect-label__text {overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-weight: 400;font-size: 13px;}
.Cust_Sel_2 .rrs__multiselect-label__badge {border: 1px solid #1e1e1e;padding: 1px 6px;margin: 0 0 0 4px;border-radius: 8px;color: #1e1e1e;font-size: 11px;vertical-align: middle;display: inline-block;background: #fff;}
.Cust_Sel_2 .rrs .checkbox {display: inline-block;position: relative;vertical-align: middle;width: 16px;height: 16px;top: -1px;margin: 2px 0px 2px 8px;border-radius: 4px;color: #fff;font-size: 18px;}
.Cust_Sel_2 .rrs .checkbox-icon {position: absolute;left: 2px;top: 2px;}
.Cust_Sel_2 .rrs__option.rrs__option--selected .checkbox i{color: #ffd707;}
.Cust_Sel_2 .rrs .caret-icon {position: absolute;right: 1rem;top: 1.25rem;}
.Cust_Sel_2 .rrs__option div {display: flex;justify-content: space-between;width: 100%;}
.Cust_Sel_2 .rrs_select {background: #fff;padding: 4px 12px;border-radius: 30px;font-size: 14px;font-weight: 400;width: 82%;border: 1px solid;border-color: var(--bg-color);
  white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.Cust_Sel_2 .rrs__option.rrs__option--selected .rrs_select{background: var(--bg-color);color: #fff;border-color: #fff;border-radius: 30px; }
.Cust_Sel_2 .rrs__label__text {overflow: hidden;}
.Cust_Sel_2 .rrs--options-visible .rrs__button::after {content: '';border-right: 9px solid transparent;border-bottom: 13px solid #fbf1ee;width: 14px;height: 44px;display: inline-block;border-left: 10px solid transparent;position: absolute;top: 0;right: 15px;}
.Cust_Sel_2 .rrs--options-visible .caret-icon {transform: rotate(180deg);}
.Cust_Sel_2.star_slct .rrs__label{align-items: center;}


/* pagination code */
/* .ReactTable .-pagination {
  background: none;
  box-shadow: 0px 0px 0px 0px !important;
  border-top: 0px solid #fff;
}

.ReactTable .-pagination .-btn {
  background: none !important;
}



span.select-wrap.-pageSizeOptions::after {
  content: "\66";
  position: absolute;
  right: 0;
  font-family: "icons_me";
  z-index: 1;
  font-size: 13px;
  width: 22px;
  height: 35px;
  text-align: center;
  display: flex;
  top: 0;
  justify-content: start;
  align-items: center;
}


.ReactTable .-pagination .-previous, 
.ReactTable .-pagination .-next {
  flex: 2;
} */

.recruitment_module div.ReactTable .-pagination .-btn {
  color: #fff;
}


.recruitment_module .pagination-bottom span.icon.privious,
.recruitment_module .pagination-bottom span.icon.next
{
  /* background: var(--bg-color);
  background-color: var(--bg-color); */
}

.recruitment_module .ReactTable .-pagination .-pageJump input
{
  background: var(--bg-color);
  background-color: var(--bg-color);
}

.recruitment_module .ReactTable .-pagination .-pageSizeOptions{
  border-color: var(--bg-color);
  background: var(--bg-color);
}


/* 
.recruitment_module span.select-wrap.-pageSizeOptions select option
{color: #000;} */


.radio_form_control1_{display: inline-block;}
.radio_form_control1_ input{width: auto;}

.cmn_select_dv.star_slct.Select--multi{z-index: 100;}

.cmn_select_dv.star_slct .Select-menu-outer{
background: #91e0ff;
  /* padding: 15px 0; */

}
.cmn_select_dv.star_slct .Select-menu-outer .Select-menu{
  padding: 15px 0;
}

.cmn_select_dv.star_slct .Select-menu-outer .Select-option{
  background:#91e0ff;
  padding: 2px 10px; 
}

.cmn_select_dv.star_slct .Select-arrow{
  border-width: 0 0 0 !important;
}

.cmn_select_dv.star_slct  .Select.is-open > .Select-control .Select-arrow
{
  border-width: 0 0 0 !important;
  transform: rotate(0);
}

.cmn_select_dv.star_slct .Select-arrow::before
{
  content: "\e07e";
  font-family: "icons_me";
  display: block;
  position: absolute;
  top: -12px;
  right: 0px;
}

.cmn_select_dv.star_slct  .Select.is-open > .Select-control .Select-arrow:before{
  top: -9px;
}

.cmn_select_dv.star_slct .Select-arrow::before, 
.cmn_select_dv.star_slct .Select-arrow::before,
.cmn_select_dv.star_slct .Select.is-open > .Select-control .Select-arrow::before{
  content: "\e07e";
  font-family: "icons_me";
}

.cmn_select_dv.star_slct.Select--multi .Select-value {
  border:0px solid #fff;
  margin-top: 0px;
  background: none;
}
.cmn_select_dv.star_slct .Select--multi .Select-multi-value-wrapper {
  vertical-align: -webkit-baseline-middle;
}
.cmn_select_dv.star_slct span.Select-value-icon {
  color: #fff;
  border:0px solid #fff;
}
.cmn_select_dv.star_slct .Select--multi .Select-value-icon {
  padding-right: 0px;
}

.cmn_select_dv.star_slct .Per_Select {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.cmn_select_dv.star_slct .Per_txt {
  display: inline-block;
  background: #fff;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  color: #1e1e1e;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid var(--bg-color);
}
.cmn_select_dv.star_slct .Per_icon i {
  font-size: 20px;
}
.cmn_select_dv.star_slct .Per_icon {
  display: inline-flex;
  align-items: center;
  line-height: initial;
  margin-left: 5px;
}

.cmn_select_dv.star_slct .Select-menu-outer .Per_Select:hover .Per_txt{
  border: 1px solid var(--drk-color4);
}

.cmn_select_dv.star_slct .Select-menu-outer .Per_Select:hover .Per_icon i{
  color:yellow;
}

.cmn_select_dv.star_slct .Select--multi .Select-multi-value-wrapper
{margin-top: 5px;}

.d-flex{display: flex;}

.recruitment_module .btn_AddFld_cmn
{
  background:transparent;
  padding: 0; 
  border-radius: 50%;
  position: absolute;
  right: 6px !important;
  top: 6px !important;
}
.btn_AddFld_cmn i{color: var(--bg-color); height: 30px; display:block; display: flex;
  align-items: center;
  justify-content: center; width: 30px;}

.btn_AddFld_cmn .icn_add{font-size: 30px;}
.btn_AddFld_cmn i.icn_remove{font-size: 22px;}
.ad_dv{position: relative; margin-bottom: 5px;}

.positn_drps{display: flex; flex-wrap: wrap; align-items: center; padding-top: 15px; padding-bottom: 15px;}
.positn_drps .bigSlct{width: calc(100% - 50px);}

.add_bgSl__{width: 50px; height: 50px; display: flex; align-items: center; justify-content: flex-end; font-size:35px; cursor: pointer; color: var(--bg-color); }

.awrd_row1__{border-bottom: solid 1px var(--bg-color);  padding-bottom: 15px;}

.profile_pic_boxUs{width: 100px;height: 100px;position: relative;}

.profile_pic_boxUs .prof_picUs
{width: 100%; height: 100%; background: grey; border-radius: 50%; overflow: hidden;}

.profile_pic_boxUs .prof_picUs img{width: 100%; height: auto; min-height: 100%;}

.edt_icn{
  width:30px;
  height: 30px;
  background: var(--bg-color);
  color: #fff;
  border:solid 1px var(--drk-color4);
  display: flex; 
  border-radius: 50%;
  align-items: center;
  position: absolute;
  top: calc(50% - 15px);
  right: -15px;
  font-size: 14px;
  justify-content: center;
  cursor: pointer;
}

.profModal
{ 
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100;;
}

.profModal.show{display: flex !important;}

.profModal .profmodal_dialog {
  background: #fff;
  width: 500px;
  height: auto;
  padding: 15px;
  position: relative;
  margin: 15px auto;
}

.profModal .profmodal_dialog img{width: 100%;}
.profModal .ReactCrop__crop-selection
{border-radius: 50%;}

.upldPc_spn
{
  display: inline-block;
  padding: 10px 25px;
  background: var(--bg-color);
  margin-top: 10px;
  color:#fff;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.cl_prfMod
{
    color: #fff;
    font-size: 25px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor:pointer;
}

.-pageSizeOptions select:focus + :after{color: red}


/* editor csss */
.cstmEditor .cke_chrome
{border:solid 1px var(--bg-color); overflow: hidden; border-radius: 30px; position: relative;}
.cstmEditor.bigHg .cke_chrome .cke_contents{height: 600px !important; padding-bottom: 45px !important;}

.cstmEditor .cke_toolbar_break{display: none !important;}

.cstmEditor .cke_chrome .cke_top
{position: absolute !important; width: 100%  !important; left: 0  !important; bottom: 25px  !important;}


.cstmEditor .cke_button__cut,
.cstmEditor .cke_button__copy,
.cstmEditor .cke_button__paste,
.cstmEditor .cke_button__pastetext,
.cstmEditor .cke_button__pastefromword,
.cstmEditor .cke_toolbar_separator,
.cstmEditor .cke_button__undo,
.cstmEditor .cke_button__redo,
.cstmEditor .cke_button__scayt,
.cstmEditor .cke_button__unlink,
.cstmEditor .cke_button__anchor,
.cstmEditor .cke_button__table,
.cstmEditor .cke_button__horizontalrule,
.cstmEditor .cke_button__specialchar,
.cstmEditor .cke_button__maximize,
.cstmEditor .cke_button__source,
.cstmEditor .cke_button__removeformat,
.cstmEditor .cke_button__outdent,
.cstmEditor .cke_button__indent,
.cstmEditor .cke_button__blockquote,
.cstmEditor .cke_combo__format,
.cstmEditor .cke_toolbar_last,
.cstmEditor .cke_combo:after
{display: none;}

.recruitment_module input.checkbox1[type="checkbox"] + label span
{border:solid 1px var(--bg-color);}

.recruitment_module input.checkbox1[type="checkbox"]:checked + label span
{background: var(--bg-color);color:var(--bg-color);}

.main_dv
{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border:solid 13px #723077;
}

.percBreakdown
{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: #993da8;
  border-radius: 50%;
  padding: 0;
  justify-content: center;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.percBreakdown:hover
{background: #8e379c;}

.cat1
{
  background: #b867c6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  position: relative;
  z-index: 100;
}

.cat1:hover{background: #d08ddc;}

.hvrDv{
width: 100%;
height: 100%;
position: absolute;
left: 0; top: 0;
background: #993da8;
z-index: 2;
border-radius: 50%;
visibility: hidden;
}

.cat1:hover + .hvrDv
{visibility: visible;}

.cat1 .unusedCat{position: absolute;text-align: center;}

.slideRange{padding: 0px !important;}

.hidee{display: none;}

.trvw{font-size: 12px;}

.recruitment_module .modify_select .Select-control,
.recruitment_module .modify_select div.Select.is-open > .Select-control
{border:solid 1px var(--bg-color);height: 40px;cursor: text;}


.recruitment_module  .modify_select .Select-control .Select-multi-value-wrapper .Select-input input
{color: #000; font-weight: normal;height: 40px;}

.recruitment_module .modify_select .Select-control .Select-arrow
{color: var(--bg-color);}

.recruitment_module  .Select-control .Select-value{height: 40px;}

.update_icDp
{font-size: 25px; color:#72d670; display: inline-block; height: 25px;}

.mail_icDp{font-size: 25px; color:#d21818;display: inline-block;height: 25px;}



.depart_info__{
  background-color: #fff;
    min-height: 200px;
    padding: 0 15px;
    z-index: 0;
    position: relative;
    border-radius: 0px 00px var(--b-radius) var(--b-radius);
}
.data_table_cmn.depStaffTable__{margin: 15px 0; border: solid 1px #efefef; border-radius: var(--b-radius);}

.data_table_cmn.depStaffTable__ .ReactTable .rt-thead.-header
{background: var(--bg-color);color: #fff;}


.data_table_cmn.depStaffTable__ .ReactTable .rt-thead .rt-th{border-right: 1px solid #ffffff;}

.data_table_cmn.depStaffTable__ .ReactTable .rt-tbody .rt-tr.-odd
{background: #efefef !important;}

.data_table_cmn.depStaffTable__ .ReactTable .rt-thead .rt-tr{margin-bottom: 0; padding: 0;}

.departFoot_1__{padding: 7px 0;border-top: solid 1px var(--bg-color);}

.data_table_cmn.depStaffTable__ .ReactTable.-highlight .rt-thead .rt-tr:hover{background: transparent;}
.data_table_cmn.depStaffTable__ .ReactTable{min-height: auto;}


.lineCmn
{width: 100%; height: 1px; background: var(--bg-color);}

.dprt_hdng1{margin-top: 10px;}

.data_table_cmn.departTable .ReactTable .rt-thead .rt-th:nth-child(4),
.data_table_cmn.departTable .ReactTable .rt-tbody .rt-td:nth-child(4)
{border-right: transparent;}

label.bg_labs2
{font-size: 18px !important;font-weight: normal !important;}

.mr_b_20{margin-bottom: 20px;}
.mr_tb_20{margin: 20px 0;}
.wd_250{width: 250px !important;}
.mr_tb_40{margin: 40px 0;}

.dashedLine_1__{border-top:dashed 2px var(--bg-color)}

.trnMod_Foot__.disFoot1__
{border-top:solid 2px var(--bg-color);}

.pd_lr_30{padding-left: 30px; padding-right: 30px;}
.pd_lr_15{padding-left: 15px; padding-right: 15px;}

.Analytics_box1__
{background: #fff; padding: 15px; height: 100%; border-radius: 15px; text-align: center; margin-bottom: 15px;}

.durationtk_ul__{text-align: center; margin-top: 15px; margin-bottom: 15px;}
.durationtk_ul__ li {display: inline-block; font-size: 13px; cursor: pointer; user-select: none;}
.durationtk_ul__ li span{padding-left: 15px; padding-right: 15px; color: var(--bg-color); opacity: 0.5; }

.durationtk_ul__ li:hover span,
.durationtk_ul__ li.active span,
.durationtk_ul__ li:active
{opacity: 1; text-decoration: underline;}

.showCase_amnt{margin-top: 15px; width: 60%;margin: 0 auto;}
.showCase_amnt h1{font-size: 80px; line-height: 80px;}

.showCase_amnt h6{min-height: 40px;}

.task_dv{min-height: 250px; margin-top: 15px;}

.successBg_popUp
{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  padding: 15px;
  display:none;
}

.popUp_bx_1
{
  background: #40b27bdb;
  position: relative;
  border-radius: 15px;
  padding: 15px;
  color: #fff;
  width: 500px;
  text-align: center;
  max-width: 100%;
  margin: 80px auto;
 
}

.popUp_bx_1 .popMsg{ font-weight: normal;}

.popUp_bx_1 .aprv_ic
{font-size: 70px;line-height: 0; margin: 20px 0; display: inline-block;}

.close_ic{cursor: pointer; font-size: 21px;}

.mr_b_15{margin-bottom: 15px;}

.editCabTable1{margin: 15px 0;}

.removeAppli_ic
{font-size: 18px; color:var(--bg-color); cursor: pointer;}

.data_table_cmn.tableType2.editCabTable1 .ReactTable .rt-tbody
{max-height: 300px; overflow-y: auto;}


.cmnScrollBar__ .ReactTable .rt-tbody::-webkit-scrollbar-track,
.cmnDivScrollBar__::-webkit-scrollbar-track
{background-color: #8e8b8b59;position: absolute;}

.cmnScrollBar__ .ReactTable .rt-tbody::-webkit-scrollbar,
.cmnDivScrollBar__::-webkit-scrollbar
{width: 5px;background-color: #F5F5F5;}

.cmnScrollBar__ .ReactTable .rt-tbody::-webkit-scrollbar-thumb,
.cmnDivScrollBar__::-webkit-scrollbar-thumb
{background-color: var(--bg-color);	border-radius: 30px;}

.SrchFiltTable__  .ReactTable .rt-thead.-header
{display: none;}
.SrchFiltTable__ .ReactTable .rt-tr .rt-td
{position: relative;}

.ADd_btn_cstie
{
  background: var(--bg-color);
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  padding: 10px;
  left: 0;
  border-radius: 0px 30px 30px 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* preview template */
.resume_frame{width: 100%; height: 100%; padding: 10px; background: #fff;}

.template1
{ width: 100%;min-height: 1000px;background: #fff;position: relative;}

.template1 .left_part_yl
{
  height: 100%;
  width: 150px;
  background: #f8931d;
  position: absolute;
  left: 0;
  top: 0;
}

.template1 .content_mn_tble{width: 100%;}

.template1 .right_part_wh{width: 100%;  }

.template1 .content_main{padding:15px 50px;}

.template1 .logo_img{   
   width: 80%;
  margin: 0px auto;
  display: block;
  padding-top: 15px;
}

.hdng_1{font-size: 22px; margin-top: 15px; margin-bottom: 30px;}

.template1 .content_main ul li{font-size: 14px; line-height: 24px;}

.template1 .footer_gr
  {background: #00a650;padding: 25px 50px;}

.template1  .foot_logo{background: #fff; padding: 15px; }
.template1  .foot_logo img{width: 100%;}

.socio_link li
{ width: 40px; height: 40px; display: inline-block; margin-right: 15px;}

.socio_link li img{width: 100%; height: auto; min-height: 100%;}

.template1 .footer_gr .mn_tble{width: 100%;}

.template1 .site_lnk{text-align: center;}
.template1 .site_lnk a{color: #fff;}

.FlaggedRow
{text-align: center; padding: 60px 30px;}

.FlaggedRow i { color: #f51515;font-size: 90px;}

.notes_panel .panel{overflow: hidden;}
.notes_panel .panel-heading
{background: var(--bg-color); color: #fff; font-size: 13px;}

.notes_panel .panel-body{background-color: #e9e9e9;}

.notes_panel .panel-body h4{font-size: 15px;margin-bottom: 10px;}
.notes_panel .panel-body .msgBody{
  background: #fff;
  border-radius: 24px;
  padding: 15px;
  font-size: 14px;
}

.notes_panel .panel_cstm{margin-bottom: 15px;}

.notes_Area__{max-height: 400px;overflow-y: auto;}

.pd_lf_15{padding-left: 15px; padding-right: 15px;}

.attach_item
{
  word-break: break-all;
  text-align: center;
  margin-bottom: 20px;
}

.attach_item h5{font-size: 14px; margin-bottom: 10px; min-height:30px;}
.attach_item i {font-size: 45px; color:var(--bg-color);}
.attach_item p{font-size: 12px; line-height: 12px;}

.attch_row{display: flex; flex-wrap: wrap}

.atchd_btn1__
{padding: 12px 15px; margin-bottom: 10px;}

.fileAtch_box__
{
    border: solid 1px var(--bg-color);
    padding: 10px;
    border-radius: 20px;
}

.fileAtch_box__ label
{font-weight: normal !important;}

.fileAtch_box__ .fle_ic
{
  width: 48px;
  display: inline-block;
  font-size: 45px;
  line-height: 0;
  color: var(--bg-color);
}

.fileAtch_box__  .fle_nme__
{
    height: auto;
    word-break: break-all;
    font-size: 13px;
    padding: 0px 15px;
    box-sizing: border-box;
    width: 80%;
}

.fileAtch_box__  .fle_close__
{
  font-size: 25px;
    line-height: 0;
    margin-top: -20px;
    color: var(--bg-color);
    cursor: pointer;
}

.flexWrap{flex-wrap: wrap;}
.mr_tb_10{margin-top: 10px; margin-bottom: 10px;}

label.bg_labs3
{font-size: 16px !important;font-weight: normal !important;}

.ans_colTr{padding-left: 45px;}
.singleAnswer__{margin-top: 30px; margin-bottom: 15px;}

.CABinfo_lstBox__ {font-size: 13px; padding: 10px 30px;}

.CABinfo_lstBox__>div{margin-bottom: 10px;}

.edt_ipad{padding: 8px 30px;}

.ipad_hdng135__{padding-right: 30px;font-size: 30px;font-weight: 700;}

.notes_panel.ipadPanelGroup .panel-body {background: #fff;}
.ipdBody_cnt {font-size: 15px; line-height: 20px;}

.mr_t_15{margin-top: 15px;}

.ipadPanelGroup .ipadPanel{opacity: 0.5; cursor: pointer; border:solid 1px var(--bg-color); height: calc(100% - 15px);}
.ipadPanelGroup .ipadPanel.active{opacity: 1;}

.pd_lr_50{padding-left: 50px; padding-right: 50px}

.recruitment_module input[type='radio']
{
  -webkit-appearance: radio;appearance: radio;
  width: inherit; height: inherit;position: absolute
}

.capsule_radio
{border-radius: 30px; display: flex; border:solid 1px var(--bg-color); width: 200px; background: #fff; overflow: hidden;}

.capsule_radio label{width: 50%; display: flex; box-sizing: border-box; align-items: center;justify-content: center; margin-bottom: 0; cursor: pointer;}
.capsule_radio label div.checkieName{padding: 10px 15px; width: 100%; text-align: center; color: var(--bg-color); font-weight: normal; opacity: 0.5;}
.capsule_radio label input[type='radio']{visibility: hidden; width: 0; height: 0;}

.capsule_radio label input[type='radio']:checked + div.checkieName,
.capsule_radio label input[type='radio']:checked + div + div.checkieName
{background-color: var(--bg-color);color: #fff;opacity: 1;}

.cabDayPanel_tab
{max-height: 300px;overflow-y: auto;}

.cabDAy_Panel{
  display: flex; 
  align-items: center; 
  border-radius: var(--b-radius);
  border:solid 1px #bdbdbd; 
  background: #fff;
  margin-bottom: 15px;
  color:#bdbdbd;
  cursor: pointer;
}

.cabDAy_Panel.active,
.cabDAy_Panel:hover
{border:solid 1px var(--bg-color); color:#000; }

.cabDAy_Panel div{text-align: center; border-right: 1px solid #c1c1c1;  padding: 10px 0;}
.cabDAy_Panel div:last-child{border-right: none;}

.dabDayPanel_header{display: flex; font-size: 15px;}

.cabDAy_Panel div:nth-child(1),
.dabDayPanel_header div:nth-child(1)
{width: 38%;}
.cabDAy_Panel div:nth-child(2),
.dabDayPanel_header div:nth-child(2)
{width: 24%;}
.cabDAy_Panel div:nth-child(3),
.dabDayPanel_header div:nth-child(3)
{width: 38%;}

.cstmBar_chart 
{
  height: 260px;
  border-bottom: 1px solid var(--bg-color);
  display: flex;
  align-items: flex-end;
  margin-top: 15px;
  justify-content: center;
  overflow: hidden;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.cstmBar_chart .bars
{flex:1; opacity: 0.7; z-index: 0; max-height: 100%; cursor: pointer; min-height: 5px; position: relative;}

.cstmBar_chart  .bars:not(:nth-child(1))
{margin-left: -15px;}

.cstmBar_chart .bars:hover{opacity: 0.9; z-index: 1;}

.cstmBar_chart .bars span{position: absolute;
  width: 100%;
  left: 0;
  top: -15px;
  text-align: center;
  display: block;
  font-size: 12px;
}

.mr_bt_10{margin-top: 10px; margin-bottom: 10px;}

.lengend_Ul__{
  font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 10px;
}

.lengend_Ul__ li
{display: block; flex: 1;}


/* custom sidebar css  */

.asideSect__{background: #f7f7f7;min-height: calc(100vh - 55px);  position: relative; padding: 15px; padding-left: 255px;  }

.main_sidebar__
{
    width: 245px;
    background: #fff;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow-y: auto;
}

/* .main_sidebar__.fixed{position: fixed;} */

.sideHead1__
{
    width: 100%;
    min-height: 100px;
    background: var(--bg-color);
    font-size: 17px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    font-weight: 600;
}

.sideNavies__{list-style-type: none; padding-left: 0; font-size: 14px;}
.sideNavies__ li a{display: block; padding: 7px 15px; color: #6b6b6b;}

.sideNavies__ li a:hover,
.sideNavies__ li a.active:hover
{ text-decoration: none;  font-weight: 500; color:var(--bg-color);} 

.sideNavies__ li a.active, 
.sideNavies__ li a.active:hover{font-weight: 700; color:var(--bg-color);}

.dropdownMenu{transition: all ease 0.5s;}
.drpHdng{
  cursor: pointer;   
  padding: 7px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  justify-content:space-between;
}

.drpHdng>i.icon:before{width: auto; height: auto; position: static;}
.drpHdng span{flex: 1;}
/* .drpHdng.open span{color: var(--bg-color)} */
.drpHdng.open> i{transform: rotate(90deg);}
.dropdownMenu ul{display: none; padding-left: 15px;}
.drpHdng.open + ul{display: block;}

.drpHdng i{ font-size: 12px}


.staffTable12 .ReactTable .rt-thead .rt-th:nth-child(5),
.staffTable12 .ReactTable .rt-tr .rt-td:nth-child(5)
{border-right: 0;}