@font-face {
  font-family: 'GothamRnd';
  src: url('font/GothamRnd-Bold.woff') format('woff'), 
       url('font/GothamRnd-Bold.ttf')  format('truetype'), 
       url('font/GothamRnd-Bold.otf') format('opentype');
  font-weight:600;
  font-style: normal;
}
@font-face {
  font-family: 'GothamRnd';
  src: url('font/GothamRnd-Medium.woff') format('woff'), 
       url('font/GothamRnd-Medium.ttf')  format('truetype'), 
       url('font/GothamRnd-Medium.otf') format('opentype');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'GothamRnd';
  src: url('font/GothamRnd-Light.woff') format('woff'), 
       url('font/GothamRnd-Light.ttf')  format('truetype'), 
       url('font/GothamRnd-Light.otf') format('opentype');
  font-weight:300;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('font/HelveticaNeueLTStd-Lt.woff') format('woff'),
  url('font/HelveticaNeueLTStd-Lt.ttf')  format('truetype'),
  url('font/HelveticaNeueLTStd-Lt.otf') format('opentype');
  font-weight:400;
  font-style: normal;
}
* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
  outline: none;
}
body{
  font-family: GothamRnd !important;
  color: #505050;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom:100px!important;
}
.bod_login{
   margin-bottom:0px;
}
.footer_1{
  margin-bottom:15px;
}
.footer {
  position: absolute;
  bottom: -1px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  line-height: 50px; /* Vertically center the text there */
  background-color: #505050;
}
/*---------------------------------------------*/
a {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  cursor: pointer;
}
a:focus {
  outline: none !important;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}
p {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}
ul, li {
  margin: 0px;
}
/*---------------------------------------------*/
textarea {
  outline: none;
}
button {
  outline: none !important;
  border: none;
  background: transparent;
}
button:hover {
  cursor: pointer;
}
iframe {
  border: none !important;
}
/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family:'GothamRnd' !important;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}
.txt2 {
  font-family:'GothamRnd' !important;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
}
.login_1{
  width: 100%;  
  /*min-height: 75vh;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  margin: 50px 0px;
}
ul.footer_nav{
  margin: 0px;
}
.logo{
  min-height: 5vh;
}
/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width:100%;
}
.login100-form-title {
  font-family: Poppins-Bold !important;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 54px;
}
footer.text-center.footer_1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
/*---------------------------------------------*/
.input_2{
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom:15px;
}
.User{
  text-align:center;
  margin:30px auto;
}
.input_3 {
  font-family: 'Helvetica'!important;
  font-size: 18px;
  line-height: 1.5;
  border: double 0 transparent;
  display: block;
  width: 100%;
  text-align:center;
  height: 45px;
  border-radius: 25px;
  padding: 0;
  /* border: double 1px transparent; */
  border-radius: 80px;
  /* background-image: linear-gradient(white, white), radial-gradient(circle at top left, #09a275,#d77f0b); */
  /* background-origin: border-box; */
  /* background-clip: content-box, border-box; */
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
   -webkit-box-shadow: 0 0 0px 1000px #fff inset;}

input.input_3::placeholder{
  color: #666666; 
}
input.input_3::-webkit-input-placeholder { 
 color: #666666;
}
input.input_3::-moz-placeholder { 
 color: #666666;
}
input.input_3::-ms-input-placeholder {
 color: #666666;
}
input.input_3::-moz-placeholder { 
 color: #666666;
}
.login_but{
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.but_login {
  font-family: 'Helvetica' !important;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
/*  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;*/
  display: block;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
   background: linear-gradient(-135deg, #d77f0b, #09a275);
}
.logo{
  font-weight:600;
  margin-top: 15px;
}
.ONCALL{
  margin-top:1%;
}
.Smiley{
  text-align:center;
}
.Smiley h1 {
    font-size: 40px;
}
.Smiley h1{
  font-family: 'GothamRnd' !important;
  font-weight: 600;
  color: #1e1e1e;
}
.Smiley h1 span {
    display: block;
}
.footer_1 span{
  font-family: 'GothamRnd' !important;
  font-weight: 600;
}
.footer_1 span b {
    font-weight: 600;
    letter-spacing: -0.3px;
    position: relative;
}
.footer_1 span {
    font-family: 'GothamRnd' !important;
    font-weight: 400;
    font-size: 12px;
     color: #1e1e1e;
}
.footer_1 span b:after {
    position: absolute;
    content: "group";
    right: 0;
    bottom: -7px;
    font-size: 7px;
}
.User span {
    width: 110px;
    height: 110px;
    border: double 2px transparent;
    /*background-image: linear-gradient(white, white), radial-gradient(circle at top left, #09a275,#d77f0b);*/
    display: table;
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin: 0px auto;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
}
.User span img {
    display: table;
    vertical-align: middle;
    text-align: center;
    margin: 0px auto;
    height: 100%;
    width: 100%;
}
/*******************/
ul.color_piker {
    /*display: table;*/
    display: block;
    margin: 0px auto;
    list-style: none;
    border-radius: 20px !important;
    margin: 15px auto;
    border: double 1px transparent;
    border-radius: 80px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #09a275,#d77f0b);
    background-origin: border-box;
    background-clip: content-box, border-box;
    width: 110px;
    text-align: center;
    height: 30px;
    vertical-align: middle;
}
ul.color_piker li{
  display: inline-block;
  font-family: GothamRnd !important;
  vertical-align: bottom;
  margin:5px 7px;
  font-weight: 600;
}
ul.color_piker li sup{
  font-weight: 300;
}
ul.color_piker li:nth-child(2){
  font-size: 14px;
}
.user_name{
  font-size: 47px;
  font-weight: 600;
   color: #1e1e1e;
}
.user_name img {
    margin-left: 30px;
}
.line{
  height:1px;
  background: #000;
  margin:0px 0px;
    background: -moz-linear-gradient(left, #1da277 0%, #31866b 38%, #3c9962 59%, #a5852d 81%, #e07814 100%);
    background: -webkit-linear-gradient(left, #1da277 0%,#31866b 38%,#3c9962 59%,#a5852d 81%,#e07814 100%);
    background: linear-gradient(to right, #1da277 0%,#31866b 38%,#3c9962 59%,#a5852d 81%,#e07814 100%);
}
/*.row.your [class*='col-'] {
  background-color: #e6e6e6;
  background-clip: content-box;
  background-clip: content-box;
  -moz-background-clip:content-box;
  min-height: 100px;
  margin-bottom: 30px;
  border-radius: 35px;
}*/
.row.your [class*='col-'] {
    background-color: #e6e6e6;
    min-height: 100px;
    margin-bottom: 30px;
    border-radius: 35px;
    margin: 0px;
    border: 15px solid #fff;
}
.row.your h4{
  padding:30px 30px 0px;
  height: 96px;
}
.m-b-15{
  margin-bottom: 15px;
}
ul.footer_nav {
    list-style: none;
}
ul.footer_nav li {
    display: inline-block;
    color: #fff;
    margin: 0px 2vw;
}
ul.footer_nav li a {
    font-size: 12px !important;
    font-weight: 300;
}
ul.footer_nav .footer_1 span {
    font-family: 'GothamRnd' !important;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
}
ul.footer_nav .footer_1 span b:after {
    position: absolute;
    content: "group";
    right: 0;
    bottom: -10px;
    font-size: 7px;
    height: 32px;
}
.row.your .User{
  padding-bottom: 30px;
  margin-top: 0px;
  margin-bottom: 15px;
}
.row.your.second .User{
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.row.your.second .User span{
  height: 95px;
  width: 95px;
  border-radius: 0px;
}
.row.your.second p{
     padding-top: 15px;
    padding-bottom: 30px;
}
.row.your.second p a{
    position: relative;
}
.row.your.second p a:after{
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 100%;
    /* background: #505050; */
    left:-10px;
    top: 5px;
}
.notification_text{
      background: linear-gradient(-135deg, #d77f0b, #09a275);
      padding:5px 15px;
      border-radius: 25px;
      color: #fff;
      font-weight: 300;
      margin-bottom:30px;
      font-size: 14px;
      margin-top: 15px;
	  font-weight:700;
	  text-decoration:none!important;
}
.dashborad_notification a{text-decoration:none!important;}
.news_text{
      background: linear-gradient(-135deg, #d77f0b, #09a275);
      padding:10px 15px;
      border-radius: 25px;
      color: #fff;
      font-weight: 300;
      margin-bottom: 45px;
}
.accordion .card-header:after {
    content: "Close";
    right:0;
    position: absolute;
}
.accordion .card-header.collapsed:after {
    right:0;
    position: absolute;
    content: "Open"; 
    font-family: GothamRnd !important;
}
.more-less{
  position: relative;
}



.panel-heading  .glyphicon-plus:before {
  content: "close";
  font-style: normal;
  font-size: 12px;
  text-transform: uppercase;
  color: #8f8f8f;
  font-weight: 300;
  margin-right: 30px;
  font-family: GothamRnd !important;
}
.panel-heading  .glyphicon-plus:after {
  font-family: "icons_me";
  content: "\62";
  font-style: normal;
  font-size: 0px;
  text-transform: uppercase;
  color: #8f8f8f;
  font-weight: 300;
  margin-right: 0px;
  line-height: 0px;
  position: absolute;
  right: 0px;
  top: 6px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #1e1e1e;
  transform: rotate(180deg);
}

.new_plus  .glyphicon-plus:before {
  content: "open";
  font-style: normal;
  font-size: 12px;
  text-transform: uppercase;
  color: #8f8f8f;
  font-weight: 300;
  margin-right: 30px;
}
.new_plus .glyphicon-plus:after {
    font-style: normal;
    font-size: 0px;
    text-transform: uppercase;
    color: #8f8f8f;
    font-weight: 300;
    margin-right: 0px;
    transform: rotate(0deg);
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #1e1e1e;
    position: absolute;
    right: 0px;
    top: 6px;
}




.panel-group .panel {
  border-radius: 25px !important;
  box-shadow: none !important;
  border-color: #c0c0c0 !important;
  border: 0px !important;
    background-color: #e6e6e6 !important;
}

.panel-default > .panel-heading {
  padding: 0 !important;
  border-radius: 0 !important;
  color: #212121 !important;
  background: none !important;
  background-image: none !important; 
}
.panel-title {
  font-size: 14px !important;
}
.panel-title > a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}
.more-less {
  float: right;
  color: #212121;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #c0c0c0;
}
.panel-body{
  background: #e6e6e6;
  border-top: 1px solid #c0c0c0;
  border-radius: 0px 0px 25px 25px;
}
.panel-default{
  margin-bottom: 15px;
}
.m-tb-15{
  padding-top:15px;
  padding-bottom: 15px; 
}
.m-t-15{
  padding-top:15px;
}
.panel-body .col-lg-3{
  font-weight: 600;
  color: #1e1e1e;
}
.panel-body .col-lg-9{
  font-weight: 300;
  padding-left: 0px;
  color: #1e1e1e;
}
.color_set div {
    color: #1e1e1e;
}
.progress-bar {
background: #1da177; /* Old browsers */
background: -moz-linear-gradient(left, #1da177 0%, #31866b 38%, #5c625a 64%, #d3002e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #1da177 0%,#31866b 38%,#5c625a 64%,#d3002e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #1da177 0%,#31866b 38%,#5c625a 64%,#d3002e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1da177', endColorstr='#d3002e',GradientType=1 ); /* IE6-9 */
}
.progress{
  background: #d3002e;
  border-radius: 25px;
  height: 13px;
}
.labels{
  color: #8f8f8f;
  font-weight: 300;
  font-size: 13px;
}
.labels span{
  position: relative;
}
.labels span:after{
  position: absolute;
  content: '*';
  left:-9px;
}
.font-w-n li{
 font-weight: 300;
}
.required_li{
  position: relative;
  font-weight: 300;
}
.required_li:before{
  position: absolute;
  content: '*';
  font-size: 20px;
  left: -10px;
  top: -4px;
  color:#da002c;
}
.required_head{
  position: relative;
}
.required_head:after{
  position: absolute;
  content: '*';
  font-size: 24px;
  color:#da002c;
  top: -3px;
}
p.empty_message {
    position: absolute;
    bottom: 60px;
    z-index: 9;
    left: 50%;
    transform: translate(-50%);
    font-weight: 300;
}
.required_any{
  position: relative;
}
.required_any:after{
  position: absolute;
  content: '*';
  font-size: 15px;
  color:#da002c;
  top:5px;
  left: -5px;
  line-height: 0px;
}
.mess_noti{
  display: table;
  border-spacing: 0px 10px;
}
.mess_noti li{
  display: table-row;
  margin-bottom: 10px;
}
.mess_noti li div{
    display: table-cell;
    background: #eee;
    padding: 10px 15px;
    border-right: 1px solid #777;
}
.mess_noti li div:first-child{
  border-radius: 25px 0px 0px 25px;
}
.mess_noti li div:last-child{
  border-radius: 0px 25px 25px 0px;
  border-right: 0px;
}
/*======Datatable===========*/
table.table_your.dataTable>tbody>tr.child span.dtr-title{
  min-width: auto !important;
  display: block;
}
table.table_your.dataTable.display tbody tr:hover>.sorting_1, table.table_your.dataTable.order-column.hover tbody tr:hover>.sorting_1{
  background-color: #e6e6e6 !important;
}
table.table_your.dataTable.display tbody tr.odd>.sorting_1, table.table_your.dataTable.order-column.stripe tbody tr.odd>.sorting_1{
  background-color: #e6e6e6 !important;
}
table.table_your.dataTable.display tbody tr.even>.sorting_1, table.table_your.dataTable.order-column.stripe tbody tr.even>.sorting_1{
    background-color: #e6e6e6 !important;
}
table.table_your.dataTable.hover tbody tr:hover, table.table_your.dataTable.display tbody tr:hover {
     background-color:none !important;
}
table.table_your.dataTable.stripe tbody tr.odd, table.table_your.dataTable.display tbody tr.odd{
  background: none;
  background-color:none; 
}
/*table.table_your.dataTable tbody tr{
    background-color: #e6e6e6 !important;
}*/
table.table_your.dataTable>tbody>tr.child:hover{
    background-color: #e6e6e6 !important;
}
table.table_your.dataTable>tbody>tr.child:hover{
   background:inherit !important;
}
table.table_your.dataTable{
  border-spacing: 0px 10px;
}
table.table_your.dataTable td{
  background: #e6e6e6;
}
table.table_your.dataTable td:first-child{
  border-radius: 25px 0px 0px 25px;
}
table.table_your.dataTable td:last-child{
  border-radius:0px 25px 25px 0px;
}
table.table_your.dataTable td.child {
    border-radius: 25px 25px 25px 25px !IMPORTANT;
}
table.table_your.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, 
table.table_your.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before{
  display: block;
  border: 0px solid white;
  border-radius: 0px;
  text-align: center;
  box-shadow: 0 0 0px #444;
  box-sizing: content-box;
  background-color:none;
  content: "";
  background: url(../images/user_admin/arrow_down.svg) no-repeat;
  background-size: 18px;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 13px;
  left: 13px;
}
table.table_your.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, 
table.table_your.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before{
  display: block;
  border: 0px solid white;
  border-radius: 0px;
  text-align: center;
  box-shadow: 0 0 0px #444;
  box-sizing: content-box;
  background-color:none;
  content: "";
  background: url(../images/user_admin/arrow_up.svg) no-repeat;
  background-size: 18px;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 12px;
  left: 13px;
}
table.table_your.dataTable.dtr-inline.collapsed>tbody>tr.child td:before {
    display: none;
}
/*table.table_your.dataTable td.br1{
  border-right: 1px solid #a4a4a4;
}
*/
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: none !important;
    border: 0px !important;
}
span.icon.icon-arrow-right,
.icon-arrow-red-left{
  position: relative;
}
.icon-arrow-right:before {
    transition: all 0.15s ease-in-out;
    content: "";
    background: url(../images/user_admin/arrow_right.svg) no-repeat;
    background-size: 15px;
    height: 18px;
    width: 18px;
    position: absolute;
    /*top:-5px;*/
    bottom:-10px;
    right: 0px;
}
.paginate_button.previous.disabled span,
.paginate_button.next.disabled span  {
    opacity: 0.2;
}
.icon-arrow-red-left:before {
    transition: all 0.15s ease-in-out;
    content: "" !important;
    background: url(../images/user_admin/arrow_left.svg) no-repeat;
    background-size: 15px;
    height: 18px;
    width: 18px;
    position: absolute;
    /*top:-5px;*/
    bottom:-10px;
    right: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
  color: green !important;
}
.icon-arrow-red-left:before {
    content: "\72";
}
.b_check input.checkbox1[type="checkbox"] + label span {
    border: 1px solid #1ca278;
    background: #fff;
}
.b_check input.checkbox1[type="checkbox"] + label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -2px 7px 0 0px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
}
.b_check input.checkbox1[type="checkbox"] {
    display: none;
}
.b_check input.checkbox1[type="checkbox"]:checked + label span {
    background: #1ca278 url(../images/input_type_check.svg) 0px top no-repeat !important;
    background-size: 20px !important;
}
.b_check small {
    display: inline-block;
    line-height: 11px;
    margin-top: 0;
    vertical-align: middle;
    font-size: 11px;
}
.b_check label{
  margin-bottom: 0px;
}
.b_check_2 input.checkbox2[type="checkbox"] + label span {
    border: 0px solid #1ca278;
    background: url(../images/user_admin/Remember_1.svg) 0px top no-repeat !important;
}
.b_check_2 input.checkbox2[type="checkbox"] + label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -2px 7px 0 0px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
}
.b_check_2 input.checkbox2[type="checkbox"] {
    display: none;
}
.b_check_2 input.checkbox2[type="checkbox"]:checked + label span {
    background: url(../images/user_admin/Remember.svg) 0px top no-repeat !important;
    background-size: 20px !important;
    border: 0;
}
.b_check_2 small {
    display: inline-block;
    line-height: 11px;
    margin-top: 0;
    vertical-align: middle;
    font-size: 11px;
}
.b_check_2 label{
  margin-bottom: 0px;
  color: #1e1e1e;
  font-family: Helvetica !important;
}
.for_text{
   color: #1e1e1e;
  font-family: Helvetica !important;
}
.check_td{
  text-align: center;
}
.case_id{
  text-align: center;
  border-right: 1px solid #a4a4a4;
  font-weight: 600;
  color: #828282;
  font-size: 16px;
}
.Ser_upd{
  color: #1e1e1e;
  font-size: 14px;
  font-weight: 400;
  border-right: 1px solid #a4a4a4;
}
.like_icon{
   border-right: 1px solid #a4a4a4;
     text-align: center;
}

/*span.P_A_n {
    width: 20px;
    height: 20px;
    background: #000;
    display: block;
    border-radius: 20px;
    text-align: center;
    margin: 0px auto;
}*/
/*td.P_A span.Pending {
  background: #fe595f;
}
*/

.descrip{
   color: #1e1e1e;
  font-size: 14px;
  font-weight: 300;
}
.achive{
  color: #828282;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
}
.achive img{
  margin-left: 7px;
}
table.table_your.dataTable thead th,
table.table_your.dataTable tfoot {
 padding: 0px;
 border: 0px;
}
.dataTables_wrapper .dataTables_paginate {
    width: 100% !important;
    text-align: center !important;
}
table.table_your.dataTable.no-footer {
    border-bottom: 0px solid #111 !important;
}
.index_but {
    display: block;
    background: #1ca278;
    padding: 4px 15px;
    border-radius: 25px;
    font-size: 18px;
    color: #fff !important;
}
.send_but {
    display: block;
    background: #e47712;
    padding: 4px 15px;
    border-radius: 25px;
    font-size: 18px;
    color: #fff !important;
}
.drafts_but {
    display: block;
    background: #2491a7;
    padding: 4px 15px;
    border-radius: 25px;
    font-size: 18px;
    color: #fff !important;
}
.archived_but {
    display: block;
    background: #da3953;
    padding: 4px 15px;
    border-radius: 25px;
    font-size: 18px;
    color: #fff !important;
}
a.index_but:hover,
a.send_but:hover,
a.drafts_but:hover,
a.archived_but:hover{
	text-decoration: none;
}


.input_box {
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 25px;
    border: double 1px transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #09a275,#d77f0b);
    background-origin: border-box;
    background-clip: content-box, border-box;
     height: 25px;
     line-height: 25px;
     font-size: 14px;
}
.input_search input {
    font-size:18px;
    font-weight: 300;
}
.input_search input {
    border: 1px solid transparent;
}
.input_search input {
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    padding: 10px 50px;
    outline: none;
}
.input_search .form-control:focus{
  border: 1px solid transparent;
}
.input_search button {
    margin: 0px;
    padding: 0px !important;
    border-radius: 0px !important;
    background: transparent;
    box-shadow: 0px 0px 0 !important;
    border-width: 0;
    position: absolute;
    left: 30px;
    z-index: 2;
    top: 50%;
    transform: translate(0, -50%);
    outline: none;
}
.table_your tfoot tr td {
    padding: 0px !IMPORTANT;
    background: #fff !IMPORTANT;
    border-top: 0px solid #000 !important;
}
.input_date{
 width: 100%;
 margin: 0px;
 padding: 0px;
 border-radius: 25px;
 border: double 1px transparent;
 background-image: linear-gradient(white, white), radial-gradient(circle at top left, #09a275,#d77f0b);
 background-origin: border-box;
 background-clip: content-box, border-box;
 height: 40px;
 line-height: 40px;
 font-size: 14px;
 text-align: center;
 font-size: 16px;
}
.Happy_text {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
     width: 100%;
}
.Happy_text span{
  display: block;
}
.text_area{
  width: 100%;
 margin: 0px;
 padding:15px 30px;
 border-radius: 25px;
 border: solid 1px transparent;
 font-size: 14px;
 text-align: left;
 font-size: 16px;
 overflow: hidden;
 height: 200px;
 min-height: 50px;
}
.submit_but{
  display: block;
  background: -moz-linear-gradient(left, #1da277 0%, #31866b 38%, #3c9962 59%, #a5852d 81%, #e07814 100%);
    background: -webkit-linear-gradient(left, #1da277 0%,#31866b 38%,#3c9962 59%,#a5852d 81%,#e07814 100%);
    background: linear-gradient(to right, #1da277 0%,#31866b 38%,#3c9962 59%,#a5852d 81%,#e07814 100%);
    text-align: center;
    color: #fff !important;
    border-radius: 25px;
    font-size: 20px;
    padding: 5px 0px;
}
.time_schedule {
    background: #eee;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
}
.time_schedule ul{
  list-style: none;
  color: #1e1e1e;
}
.time_schedule ul li{
  display: inline-block;
  font-weight: 300;
}
.time_schedule li {
    font-size: 18px;
    padding: 10px 10px;
}
.time_schedule li label{
  margin-bottom: 0px;
  font-weight: 400;
}
.update_text{
  font-size: 16px;
  font-weight: 600;
  color: #1e1e1e;
}
.remove_but{
  display: block;
  background: -moz-linear-gradient(left, #1da277 0%, #31866b 38%, #3c9962 59%, #a5852d 81%, #e07814 100%);
    background: -webkit-linear-gradient(left, #1da277 0%,#31866b 38%,#3c9962 59%,#a5852d 81%,#e07814 100%);
    background: linear-gradient(to right, #1da277 0%,#31866b 38%,#3c9962 59%,#a5852d 81%,#e07814 100%);
    text-align: center;
    color: #fff !important;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 300;
    padding: 4px 0px;
}
/*****==================upload---------img-==================*/
#image-preview {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    background: url(../images/user_admin/upload_img.svg);
    color: #ecf0f1;
    border-radius: 100%;
    background-color: #fff;
}
#image-preview{
  background-size:contain !important;
  background-repeat: no-repeat; 
}
#image-preview input {
  line-height: 100px;
  font-size: 100px;
  position: absolute;
  opacity: 0;
  z-index: 10;
    border-radius: 20px;
  width: 100px;
}
#image-preview label {
  position: absolute;
  z-index: 5;
  opacity:0;
  cursor: pointer;
  background-color: #bdc3c7;
  width: 100px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}
#image-preview img{
	width:100%;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	    position: absolute;
}
.add_icon{
  position: relative;
  width: 100px;
  display: table;
}
.add_icon:after {
    position: absolute;
    content: 'ADD';
    right:-35px;
    color: #828282;
    font-size: 14px;
    font-weight: 300;
    top: 0;
}
.add_icon:before {
    position: absolute;
    content: '';
    right: 0;
    color: #828282;
    font-size: 14px;
    font-weight: 300;
    background: url(/assets/images/client/add_icons.svg);
    z-index: 1;
    width: 30px;
    height: 30px;
    background-size: 30px;
}
/*================================*/
.input_pass{
  width: 100%;
  border-radius: 25px;
  height:40px;
  line-height: 40px;
  padding: 4px 15px;
  border:0px solid transparent;
  box-shadow: none;
}
.submit_button{
 display: block;
 background: -moz-linear-gradient(left, #1da277 0%, #31866b 38%, #3c9962 59%, #a5852d 81%, #e07814 100%);
 background: -webkit-linear-gradient(left, #1da277 0%,#31866b 38%,#3c9962 59%,#a5852d 81%,#e07814 100%);
 background: linear-gradient(to right, #1da277 0%,#31866b 38%,#3c9962 59%,#a5852d 81%,#e07814 100%);
 text-align: center;
 color: #fff !important;
 border-radius: 25px;
 font-size: 17px;
 font-weight: 300;
 padding: 7px 0px; 
}
/************=====x======x====x=====x======***************/
/************============Modal=========***************/
.modal {
  text-align: center;
  padding: 0!important;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}
.fade-scale.show {
  opacity: 1;
  transform: scale(1);
}
.text_remov{
  font-weight: 300;
}
.modal-content{
  border-radius: 25px !important;
}
/************=====x======x====x=====x======***************/
.details_you_plan div{
 font-size: 16px;
 font-weight: 300;
 color: #1e1e1e;
}
.details_you_plan .col-lg-7{
font-weight: 600;
color: #1e1e1e;
 font-size: 18px;
}
.t_r_color .col-lg-7{
  color: #6f4dee;
}
.color_b .col-lg-7{
  color: #0052f3;
}
.color_g .col-lg-7{
  color: #1bc1a7;
}
.color_r .col-lg-7{
  color: #fd1b2f;
}
.t_r_color .col-lg-5{
font-weight: 600;
}
.plan_end_text{
  font-size: 18px;
}
.plan_end_text span{
  font-weight: 600;
  font-family: Helvetica !important;
}
.paginate_button.previous {
    min-width: 15px !important;
    width: 15px !important;
    margin: 0px !important;
    padding: 0px !important;
    height: 10px !important;
    line-height: 20px !important;
    margin-right: -11px !important;
}
.paginate_button.next {
    min-width: 15px !important;
    width: 15px !important;
    margin: 0px !important;
    padding: 0px !important;
    height: 10px !important;
    line-height: 20px !important;
    margin-left: 10px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
  padding: 0rem 1rem !important;
}
.label{
  font-size: 18px;
}
.update_but {
    font-weight: 300;
    color: #8f8f8f !important;
    font-size: 12px;
    display: block;
}
.input_search,
.gradient_textarea,
.input_gradient{
    border-radius: 25px !important;
    border: double 1px transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #09a275,#d77f0b);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: flex;
}
button.close.close_icons {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    opacity: 1;
}
.Modal_A .modal-header {
    margin: 0px auto;
    padding: 0px;
}
@media (max-width: 1500px) {
.Smiley h1{
  font-size: 36px;
}
.input_3{
  height: 40px;
  font-size: 16px;
}
.but_login{
  height: 40px;
  font-size: 18px;
}
}
@media (max-width: 991px) {
 .footer {
  height: 100px;
 }
 body{
  margin-bottom: 150px;
 }
 ul.footer_nav li {
  margin: 0px 1.1vw;
}
.input_box{
  line-height: 30px;
  height: 30px;
}
}
@media (min-width: 768px) {
.Modal_A .modal-dialog{
  width: 500px !important;
}
}
@media (max-width: 576px) {
  .footer{
    line-height: 32px;
  }
  ul.footer_nav .footer_1 span b:after{
    line-height: 55px;
  }
  #image-preview {
    width: 70px;
    height: 70px;
  }
  .remove_but{
    font-size: 12px;
  }
  .add_icon{
    width: 80px;
  }
  body{
    margin-bottom: 150px;
  }
  .Smiley h1,
  .user_name{
    font-size: 9vw;
  }
  p.empty_message{
    height: 95px;
    width: 80%;
    text-align: center;
  }
  ul.footer_nav li{
    width: 46%;
  }
  ul.footer_nav li:last-child{
    width: 100%;
  }
  .details_you_plan .col-lg-7{
    font-size: 15px;
  }
  .details_you_plan div{
    font-size: 14px;
  }
}

.progress{
  /*background-image: linear-gradient(to bottom, #ff3f16 0%, #ef1e1e 100%)!important;*/
  background: #d3002e!important; /* Old browsers */
height: 12px!important;
background: -moz-linear-gradient(left, #d3002e 0%, #d3002e 38%, #d3002e 64%, #d3002e 100%)!important; /* FF3.6-15 */
background: -webkit-linear-gradient(left, #d3002e 0%,#d3002e 38%,#d3002e 64%,#d3002e 100%)!important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #d3002e 0%,#d3002e 38%,#d3002e 64%,#d3002e 100%)!important ;/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1da177', endColorstr='#d3002e',GradientType=1 )!important; /* IE6-9 */
border-radius:10px !important;
}


.progress-bar-success{
  background: #1da177!important; /* Old browsers */
background: -moz-linear-gradient(left, #1da177 0%, #31866b 38%, #5c625a 64%, #d3002e 100%)!important; /* FF3.6-15 */
background: -webkit-linear-gradient(left, #1da177 0%,#31866b 38%,#5c625a 64%,#d3002e 100%)!important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #1da177 0%,#31866b 38%,#5c625a 64%,#d3002e 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1da177', endColorstr='#d3002e',GradientType=1 )!important; /* IE6-9 */
}



/********* Modal design ********/
a.close_i {
    position: absolute;
    right: 15px;
    top: 15px;
}
h4.font_w_4 {
    font-size: 16px;
    margin-bottom: 2px;
}
.overflow-hidden {
    height: 500px;
    border: 1px solid #2e8a6c;
    padding: 0px 0px 0px 15px;
}
.overflow-scroll{
  height: 100%;
  overflow-y: auto;
}
input.radio_input{
    height:10px;
}
input.radio_input[type=radio   ]:not(old){
    width     :27px;
    margin    : 0;
    padding   : 0;
    font-size : 1em;
    opacity   : 0;
}
input.radio_input[type=radio   ]:not(old) + label{
    display      : inline-block;
    margin-left  : -2em;
    line-height  : 1.5em;
     font-weight: 300;
}
input.radio_input[type=radio   ]:not(old) + label > span{
    display          : inline-block;
    width            : 17px;
    height           : 17px;
    margin           : 5px 3px 0.25em 0.25em;
    border           : 1px solid #1da277;
    border-radius    : 100%;
    background       : #fff;
    vertical-align   : bottom;
}
input.radio_input[type=radio   ]:not(old):checked + label > span{
    /*background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));*/
    background: #fff;
    
}
input.radio_input[type=radio]:not(old):checked + label > span > span{
    display          : block;
    width            : 11px;
    height           : 11px;
    margin           : 0.125em;
    border           : 0.0625em solid #fff;
    border-radius    : 0.125em;
    border-radius    : 100%;
    background       : linear-gradient(to right, #1da277 0%,#31866b 38%,#3c9962 59%,#a5852d 81%,#e07814 100%);
    margin-top:2px;
}


.size_add .modal-dialog {
    max-width: 820px !important;
	width: 820px !important;
}
.scroll_active_modal {
    display: block;
    height: 100%;
    overflow-y: auto;
    padding: 15px 10px;
    width: 100%;
}
.multiple_checkbox .w_50 {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
.multiple_checkbox input.checkbox1[type="checkbox"]:checked + label span:after,
.new_check_box input.checkbox1[type="checkbox"]:checked + label span:after,
.multiple_checkbox input.checkbox1[type="checkbox"]:checked + div + label span:after{
        position: absolute;
    content: "\70";
    font-family: "icons_me";
    color: #fff;
    line-height: 18px;
    text-align: center;
    width: 18px;
}
.multiple_checkbox input.checkbox1[type="checkbox"]:checked + label span,
.new_check_box input.checkbox1[type="checkbox"]:checked + label span,
.multiple_checkbox input.checkbox1[type="checkbox"]:checked + div + label span{
    background: linear-gradient(to right, #1da277 0%,#31866b 38%,#3c9962 59%,#a5852d 81%,#e07814 100%);
    background-size: 16px !important;
    position: relative;
    border: 0px;
	  display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.multiple_checkbox input.checkbox1[type="checkbox"] + label span,
.new_check_box input.checkbox1[type="checkbox"] + label span,
.multiple_checkbox input.checkbox1[type="checkbox"] + div + label span{
	  display: inline-block;
    background: none;
	  border-radius: 2px;
    height: 17px;
    width: 18px;
    vertical-align: middle;
    margin-right: 5px;
    border: 1px solid #33896a;
}
.multiple_checkbox input.checkbox1[type="checkbox"] + label,
.multiple_checkbox input.checkbox1[type="checkbox"] + div + label{
    margin-bottom: 0px;
}
  

input.checkbox1[type="checkbox"] {
    display: none;
}
.d_table-cell {
    display: table-cell !important;
}
.your h4{
  font-size:2.5rem !important;
  color: #505050 !important;
}
.your a{
  color:#666666 !important;
  }
.font_s_set div {
    font-size: 15px;
}




/*React select*/
.my-select .Select-placeholder{
    top: 0px !important;
    color: #fff !important;
    opacity: 0.7 !important;
}
.my-select .Select-placeholder,
.my-select .Select-value-label{
    font-size: 14px !important;
    font-weight: 300 !important;
}
.my-select .Select-input{
    background: none !important;
}
.my-select .Select-input > input{
   color: #fff;
   padding-top: 10px;
}
.my-select .Select-control{
    height: 42px !important;
/*    border: 1px solid #1e1e1e !important;
    background: #1e1e1e !important;*/
    border-radius: 25px !important;
    border: double 1px transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #09a275,#d77f0b);
    background-origin: border-box;
    background-clip:border-box;
}
.Select-arrow {
    border-color: #fff transparent transparent !important;
    border-style: solid;
    border-width: 12px 9px 2.5px !important;
    display: inline-block;
    height: 9px;
    width: 0;
    position: absolute !important;
    top: 14px;
    right: 13px;
}
.Select.my-select.is-open > .Select-control .Select-arrow {
    border-color: transparent transparent #fff  !important;
    border-width: 0 9px 12px  !important;
    position: absolute  !important;
    top: 12px  !important;
    right: 13px  !important;
}
.my-select .Select-value-label{
    color: #fff !important;
    font-weight: 500 !important;
}
.my-select .Select-menu-outer{
    border-radius: 15px !important;
    overflow: hidden !important;
    font-size: 14px !important;
    font-weight: 300 !important;
}
.my-select .Select-clear{
    display: none !important;
}
.by-1{
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;

}
/*************/
/*************/

.size_add  label {
    font-size: 15px;
    font-weight: 500;
}

.size_add input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #777;
  font-weight: 300;
}
.size_add input::-moz-placeholder { /* Firefox 19+ */
  color: #777;
  font-weight: 300;
}
.size_add input:-ms-input-placeholder { /* IE 10+ */
  color: #777;
  font-weight: 300;
}
.size_add input:-moz-placeholder { /* Firefox 18- */
  color: #777;
  font-weight: 300;
}



.heading_modal {
    font-size: 22px !important;
     background:linear-gradient(to right, #1da277 0%,#31866b 38%,#3c9962 59%,#a5852d 81%,#e07814 100%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.ocs_id_hig span{
  height: 40px;
  padding:6px 10px;
      line-height: 30px;
    text-align: center
}
a.add_i_icon i:before,
button.add_i_icon i:before {
    font-size: 37px;
    line-height: 35px;
      background:linear-gradient(to right, #1da277 0%,#31866b 38%,#3c9962 59%,#a5852d 81%,#e07814 100%);
      display: flex;
      height: 45px;
      width: 45px;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding-bottom: 0px;
      padding-right: 0px;
      border-radius: 100%;
    color: #fff;
}

i.icon_cancel_1:before {
  font-size: 27px;
  background: linear-gradient(to right, #1da277 0%,#31866b 38%,#3c9962 59%,#a5852d 81%,#e07814 100%);
  /* display: inline-block; */
  vertical-align: middle;
  border-radius: 41px;
  color: #fff;
  margin-top: 26px;
  display: flex;
  height: 45px;
  width: 45px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  padding-right: 1px;
}
.text_4style{
  border: 1px solid #2e8a6c;
    border-radius: 15px;
    overflow: hidden;
}
.text_4style .scroll_active_modal{
      height: 80px;
    overflow-y: auto;
}
.text_8style{
    border: 1px solid #2e8a6c;
    border-radius: 25px;
    overflow: hidden;
      height: 112px ;
}
.text_8style .scroll_active_modal{
 height: 100% ;
}
.tooltip-inner{
  background: red !important;
}
.tooltip.top .tooltip-arrow,
.tooltip.bottom .tooltip-arrow,
.tooltip.left .tooltip-arrow,
.tooltip.right .tooltip-arrow{
  border-top-color:red !important;
}
.new_remove button.add_i_icon i:before,
.new_remove i.icon_cancel_1:before{
  margin-top: 0px !important;
}
.log_out_icon {
    font-size: 41px;
    display: inline-block;
    vertical-align: middle;
    line-height: 29px;
    cursor: pointer;
}
/* Calendar Start*/
.react-datepicker{
     border: 1px solid #e07814 !important;
	/* font-size: 1.1rem !important;*/
   /* display: flex !important;*/
}
.react-datepicker__header{
     background-color: #e07814 !important;
}
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle{
 border-bottom-color: #e07814 !important;
}
.react-datepicker__navigation--previous {
    border-right-color: #fff !important;
}
.react-datepicker__navigation--next {
    border-left-color: #fff !important;
}
.react-datepicker__current-month, 
.react-datepicker-time__header,
.react-datepicker__day-name{
 color:#fff !important;
}
.react-datepicker__day--selected{
 background-color: #c57d1f !important;
}

/* Calendar 100% height */
.calendar-porta{ 
	height: 100%; 
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}
.week-div {
    display: flex;
}
.week-div .c_style {
    width: 100%;
}
.week-div .c_style{
	border-top: 1px solid #adadad;
}
.week-div .c_style{
	border-right: 1px solid #adadad;
}
.calendar-porta .week-div .c_style span:last-child{
	border-bottom: 0px;
}
.calendar-porta .week-div .c_style:first-child{
	border-left: 1px solid #adadad;
}

.calendar-porta .week-div .c_style span{
	padding: 5px;
	display: flex;
	font-size: 14px;
	border-bottom:1px solid #777; 
  border-bottom: dashed 1px #adadad;
}
.calendar-porta .week-div .c_style span:first-child{
	height: 28px;
	line-height: 18px;
}
.calendar-porta .week-div:last-child .c_style{
   border-bottom:1px solid #adadad; 
}
.add-row{
	max-width: 40px;
	min-width: 40px;
	border-bottom: 1px solid transparent;
}
.cal-main-div{
	    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0px;
    background: #e6e6e6;
    border-radius: 35px;
    padding-bottom: 35px;
}
.outside_funding_number {
    background: red;
}
.roster_z .modal-dialog{
  max-width: 576px !important;
}
.week-div button.add_i_icon i:before{
  padding: 4px 3px;
}
.week-div button.add_i_icon,
.week-div button.button_unadd {
    padding-left: 15px;
}

/*Calendar */
.rbc-month-view {
    min-height: 450px !important;}


.on_call_participant_calander .rbc-toolbar-label{
    display: flex;;
    width: 100%;
    justify-content:center;
        font-size: 30px;
            margin: 15px 0px;
            margin-top: -30px;
}
.on_call_participant_calander {
    margin-top:15px;
    background:#f5f5f5;
    padding: 30px;
    border-radius: 25px;
}
.on_call_participant_calander .rbc-header{
    padding: 5px 3px;
    font-size: 15px;
}
.on_call_participant_calander button.rbc-event {
    display: flex !important;
    min-height:7px !important;
    border-radius: 0 !important;
    font-size: 11px;
}
.on_call_participant_calander .rbc-date-cell{
    font-size: 15px;
}
.on_call_participant_calander .rbc-row-content .rbc-row:first-child {
    line-height: 25px;
    border-bottom: 1px solid #7774;
}
.on_call_participant_calander .rbc-month-view {
    width: 94%;
    margin: 0px auto;
}
.on_call_participant_calander #example-component,
.on_call_participant_calander .rbc-calendar{
    position: relative;
}
.on_call_participant_calander .rbc-btn-group span{
    cursor:pointer;
}
.on_call_participant_calander .rbc-btn-group span.icon.icon-arrow-left{
    position: absolute;
    left:0;
}
.on_call_participant_calander .rbc-btn-group span.icon.icon-arrow-right{
    position: absolute;
    right:0;
}
.rejected_shift {
    opacity: 0.4 !important;;
}

.accepted_shift{
    opacity: 1 !important;
}
ul.status_new {
    list-style: none;
    display: inline-block;
    width:100%;
}
ul.status_new li{
    display: inline-block;
    vertical-align: middle;
        width: 31%;
    text-align: center;
}
ul.status_new li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
    font-size: 16px;
    font-weight: 300;
}

ul.status_new span {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
    margin-right: 5px;
}

.Confirmed{background:#89e0a9 }
.Unconfirmed{background: #e0da8c }
.Cancelled{background: #ff778aaa}
.Unfilled{background: rgb(163, 181, 199)}
/********************************/

.default_validation .Select-control {
    overflow: visible;
}
.default_validation .Select-control .Select-multi-value-wrapper .Select-input input {
    width: 100% !important;
    height: 40px;
    line-height: 40px;
    border: 0px solid #fff !important;
    font-size: 15px;
    margin: 0px !important;
    padding-top: 0px !important;
    color: #ffff;
}
.my-select .Select-control{
    background-color: linear-gradient(to right, #1da277 0%,#31866b 38%,#3c9962 59%,#a5852d 81%,#e07814 100%) !important;
     background-image: linear-gradient(to right, #1da277 0%,#31866b 38%,#3c9962 59%,#a5852d 81%,#e07814 100%) !important;
}


/**** roster modal *********/
.big_modal_roster .modal-dialog{
  max-width: 1130px !important;
  width: 1130px !important;
}
.flex {
    display: flex;
}
.make_up div {
    font-size: 12px;
    justify-content: center;
    align-self: center;
    font-weight: 300;
}
.collaspe_roster .flex:nth-of-type(even) .make_up {
    background-color: #ececec;
    border-radius: 25px;
}
.collaspe_roster .flex:nth-of-type(odd) .make_up {
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 1px #ddd;
    border-radius: 25px;
}
.border_dotted_right {
    border-right: 1px dashed #31866b;
}

.big_modal_roster input.checkbox_flex[type="checkbox"] {
    display: none;
}
.big_modal_roster input.checkbox_flex[type="checkbox"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -2px 7px -4px 10px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    background: -webkit-linear-gradient(left, #1da277 0%,#31866b 38%,#3c9962 59%,#a5852d 81%,#e07814 100%);
}
.big_modal_roster input.checkbox_flex[type="checkbox"]:checked + label span {
    background: -webkit-linear-gradient(left, #1da277 0%,#31866b 38%,#3c9962 59%,#a5852d 81%,#e07814 100%);
    position: relative;
}
.big_modal_roster input.checkbox_flex[type="checkbox"]:checked + label span:after {
    position: absolute;
    content: "\70";
    font-family: "icons_me";
    color: #fff;
    left: 0;
    font-size: 18px;
    top: -2px;
}

.big_modal_roster .bb-1 {
    border-bottom: 1px solid #31866b;
}

.big_modal_roster .by-1{
   border-color: #31866b;
}
.big_modal_roster .color{
    color: #31866b;
}
.big_modal_roster .collaspe_roster .flex .pdd-b {
    padding-bottom: 15px;
}
.week-div i.icon_cancel_1:before{
   background: #da3953;
}
.week-div button.add_i_icon i:before{
  background: #1da277;
}
.rbc-calendar{
  height: auto !important;
}
/*
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
   -webkit-box-shadow: 0 0 0px 1000px #fff inset;
   }*/

.Rost_A1{
  padding: 2px 15px;
}
.Rost_A1 span{
  color: #da3953;
}


.no_record {
    background: #e6e6e6;
    color: #777;
    text-align: center;
    font-weight: 300;
    border-radius: 25px;
}
.error_login {
    text-align: center;
    font-size: 15px;
    color: #cc0000;
    font-weight: 300;
}
.success_login {
    text-align: center;
    font-size: 15px;
    color: #57b846;
    font-weight: 300;
}
.for_text a{
  color: #666666;
}
.row.your.second a:hover{
    text-decoration: none;
}

.Box_tx1 {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 25px;
    min-height: 65px;
}



/********Table ****/
.Notification_Tab .rt-tr-group {
    margin: 10px 0px 0px;
}
.Notification_Tab .ReactTable .rt-tbody .rt-td {
    padding: 7px 10px;
}

.Notification_Tab .ReactTable .rt-tbody .rt-td, 
.Notification_Tab .ReactTable .rt-thead .rt-th {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.Notification_Tab .ReactTable .rt-tbody .rt-tr-group {
    border-bottom: 0px !important;
}
.Notification_Tab .ReactTable {
    border: 0px;
}
.Notification_Tab .rt-tbody .rt-tr{
   border-radius: 25px;
   height: 40px;
}
.Notification_Tab .ReactTable.-striped .rt-tbody .rt-tr {
    background: #e6e6e6 !important;
}
.Notification_Tab .ReactTable .-pagination .-btn {
    background: none !important;
}
.Notification_Tab .privious:before,
.Notification_Tab .next:before {
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    width: 25px;
    height: 25px;
     border-radius: 25px;
}
.ReactTable .-pagination input, 
.ReactTable .-pagination select{
  border-radius: 25px !important;
  padding: 7px !important;
}
.Notification_Tab .ReactTable .-pagination {
    background: none;
    box-shadow: 0px 0px 0px 0px !important;
    border-top: 0px solid #fff;
    margin-top: 10px;

}
.Notification_Tab .select-wrap select {
    padding: 7px !important;
}
.Notification_Tab .ReactTable .-pagination .-previous, 
.Notification_Tab .ReactTable .-pagination .-next {
    flex: 2;
}
.Notification_Tab .ReactTable .-pagination .-previous button,
.Notification_Tab .ReactTable .-pagination .-previous{
  text-align: right;
}
.Notification_Tab .ReactTable .-pagination .-next button,
.Notification_Tab .ReactTable .-pagination .-next{
  text-align: left;
}
.Notification_Tab span .fav_icon{
   display: inline-block;
   vertical-align: top;
   font-size:20px;
   margin-left: 10px;
   float: right;
}
i.icon.icon-circle{
  font-size: 17px;
}
.arch_1 i{
  font-size: 20px;
}
.Notification_Tab .rt-thead.-header{
  box-shadow:0 0px 0px 0 rgba(0,0,0,0.15) !important;  
}
.Notification_Tab .message-noti-admin_1{
  font-weight: 600;
  color: #828282 !important;
}
.Notification_Tab .message-noti-admin_2{
  font-weight: 400;
  color: #1e1e1e !important;
}
.Notification_Tab .message-noti-admin_3{
  font-weight: 300;
  color: #1e1e1e !important;
}
.Notification_Tab a:hover{
	text-decoration: none !important;
}
.pendding_c{
  color:#FF6161;
}
.approved_c{
  color: #8AE2A9;
}
.fav_icon{
  color: #FF6ECF;
}

.icons_replay i.icon.icon-like {
    font-size: 22px;
}
.icons_replay i.icon.icon-email-pending{
  font-size: 24px;
  margin-left: 5px;
}
.archive_btn i{
  color: #DB4255;
}
.archive_btn i {
    font-size: 25px;
}
.Notif_text1 div{
  color: #828282;
}
.Notif_text1 div span{
  color: #1e1e1e;
}
.text_Notif{
  width: 100%;
}
textarea.text_Notif {
    border: 1px solid #1da277;
    border-radius: 25px;
    min-height: 115px; 
    padding: 15px;
}
.Box_tx1{
  font-weight: 300;
}
.Box_tx1{
    border: double 1px transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #09a275,#d77f0b);
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 0px;
    font-weight:300;
}
.icons_replay  .icon-like{
  color: #FF6ECF;
}
.icons_replay .icon-email-pending{
  color: #da3953;
}
.heart-fill:before{
     background: url(../images/client/like_new.svg);
    background-size: 20px !important;
    background-repeat: no-repeat;
}
.head_replay{
  font-size: 17px;
  color: #1e1e1e;
}
.head_replay span{
  color: #828282;
}
.index_but{
      position: relative;
}


.filter_date .react-datepicker-wrapper{
    min-width: 100% !important;
    max-width: 100% !important;	
}
.filter_date .react-datepicker__input-container{
	 border-radius: 25px !important;
    border: double 1px transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #09a275,#d77f0b);
    background-origin: border-box;
    background-clip: content-box, border-box;
    min-width: 100% !important;
    max-width: 100% !important;
    height: 28px;
}
.filter_date .react-datepicker__input-container input{
	border: 0px;
    display: flex;
    height: 100%;
    align-items: center;
    vertical-align: middle;
    border-radius: 100%;
    font-size: 10px;
    min-width: 100% !important;
    max-width: 100% !important;
}
.msj{
	position: relative;
}
.msj:before {
    width: 0;
    height: 0;
    content: "";
    top: 0;
    left: -10px;
    position: absolute;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent #f0f0f0 transparent transparent;
    line-height: 0px !important;
    display: block;
}
.msj{
	background: #f0f0f0;
	border: 0px;
	border-radius: 5px;
	width: 100%;
}
.msj-rta{
	position: relative;
}
.msj-rta:after {
    width: 0;
    height: 0;
    content: "";
    top: 0;
    right: -7px;
    position: absolute;
    border-style: solid;
    border-width:13px 13px 0 0;
    border-color:#f0f0f0 transparent transparent transparent;
    line-height: 0px !important;
    display: block;
}

.msj-rta{
background: #f1f1f1;
	border: 0px;
	border-radius: 5px;
	width: 100%;
}
.msj-rta div{
	word-break: break-all;
}
.txt_Notif_1{
	font-weight: 300;
}

.chart_name_a span {
  min-width: 40px;
  height: 40px;
  background: #fff;
  display: flex;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  border-radius: 25px;
  border: 2px solid #08a376;
  margin-right: 13px;
  color: #1ca278;
  font-weight: 400;
  padding: 7px;
}
.chart_name_u span {
    width: 40px;
    height: 40px;
    background: #f1f1f1;
    display: flex;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 50%;
    border: 2px solid #08a376;
    margin-left: 13px;
    color: #1ca278;
    font-weight: 400;
}
.Noti_scroll_1 {
    max-height: auto;
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
}
.panel-title a:hover,
.panel-title a:focus,
.empty_message a:hover,
.empty_message a:focus{
	text-decoration: none;
	color: inherit;
}
.empty_message a{
	color: inherit;
}
.required_li:before{
	display: none;
}
.back-arrow i{
	font-size: 25px;
	color: #1e1e1e;
}
.back-arrow a{
	text-decoration: none;
}
.back-arrow a:hover, .back-arrow a:focus{
	text-decoration: none;
}
.default_validation .Select-control .Select-multi-value-wrapper .Select-input input:-webkit-autofill,
.default_validation .Select-control .Select-multi-value-wrapper .Select-input input:-webkit-autofill:hover, 
.default_validation .Select-control .Select-multi-value-wrapper .Select-input input:-webkit-autofill:focus{
    width: 99% !important;
    height: 25px;
    line-height: 34px;
    border: 1px solid #389365 !important;
    font-size: 15px;
    margin: 0px !important;
    padding-top: 0px !important;
    color: #ffff;
    position: absolute;
    left: 0;
    border-radius: 25px;
}
.hand_i{
    cursor: pointer;
}
.time_schedule ul{
    margin-bottom: 0px !important;
    
}
.time_schedule{
    margin-bottom: 10px;
}
.f_300{
    font-weight: 300;
}

ul.our_goals li.Refused_to_Participate{
    background: #e51a29;
  }
ul.our_goals li.Hand_over_hand_physical_Assistance{
    background: #db4255;
  }
ul.our_goals li.Partial_Physical_Assistance{
    background: #e07a00;
  }
ul.our_goals li.Model{
    background: #e2a100;
  }
ul.our_goals li.Full_Assistance_Direct_Verbal{
    background: #8fd150;
  }
ul.our_goals li.Indirect_Verbal{
    background: #09b750;
  }
ul.our_goals li.Natural_CueIndependen{
    background: #f1cd83;
  }
ul.our_goals li.Gesture{
    background: #009245
  }
ul.our_goals li.set{
    background: #87dbaa;
  }
ul.our_goals li.oct{
    background: #f18993;
  }
ul.our_goals li.nov{
    background: #87dbaa;
  }
ul.our_goals li.dec{
    background: #82c8a4;
  }
ul.our_goals li,
ul.our_goals li:nth-child(2),
ul.our_goals li:last-child{
    display: inline-block;
    width: 7.5% !important;
    height: 40px;
    float: none;
	border-radius:25px;
}
ul.our_goals li.jan{
    position: relative;
}
ul.our_goals li.feb{
    position: relative;
}
ul.our_goals li.mar{
    position: relative;
}
ul.our_goals li.apr{
    position: relative;
}
ul.our_goals li.may{
    position: relative;
}
ul.our_goals li.jun{
    position: relative;
}
ul.our_goals li.july{
    position: relative;
}
ul.our_goals li.aug{
    position: relative;
}
ul.our_goals li.set{
    position: relative;
}
ul.our_goals li.oct{
    position: relative;
}
ul.our_goals li.nov{
    position: relative;
}
ul.our_goals li.dec{
    position: relative;
}
ul.our_goals span.tag {
    position: absolute;
    bottom: -31px;
    margin-left: -4.0%;
    height: 24px;
    line-height: 19px;
    width: 400px;
    left:50%;
    color: #1e1e1e;
}
ul.our_goals li{
    position:relative;
}

ul.our_goals span.tag:after {
      position: absolute;
    content: '';
    left: 4px;
    height: 30px;
    top: -28px;
    z-index: 9;
    background: #1e1e1e;
    width: 1px;
    
}
ul.our_goals span.tag:before {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    top: -29px;
    border-radius: 10px;
    background: #1e1e1e;
    z-index: 1;
}
.archive_button {
    font-size: 30px;
    color: #cc3366;
}
.panel-heading .collapsed .glyphicon-plus:after{
	    transform: rotate(360deg) !important;
}
.panel-heading .collapsed .glyphicon-plus:before{
	content:"open" !important;
}
#scroll-container{width:100%;height:10px;}


.our_goals li:hover span{
		display:block !important;
}
.plus_btn_14 span.icon.icon-plus:before {
    font-size: 33px;
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    position: absolute;
    right: 20px;
    top: 2px;
}
.plus_btn_14{
	background:#777;
}
.remove_account_button{
	display: block;
    background: -moz-linear-gradient(left, #1da277 0%, #31866b 38%, #3c9962 59%, #a5852d 81%, #e07814 100%);
    background: -webkit-linear-gradient(left, #1da277 0%,#31866b 38%,#3c9962 59%,#a5852d 81%,#e07814 100%);
    background: linear-gradient(to right, #1da277 0%,#31866b 38%,#3c9962 59%,#a5852d 81%,#e07814 100%);
    text-align: center;
    color: #fff !important;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 300;
    padding: 7px 0px;
	border:0px;
}


/***    ***/
.gradient_color .User span {
    width: 200px;
    height: 200px;
    border: double 2px transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #09a275, #d77f0b);
    display: table;
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin: 0px auto;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
}
.gradient_color .User span img {
    vertical-align: middle;
    text-align: center;
    margin: 0px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 61%;
}

.logie_ic
{font-size: 125px;
  line-height: 0;}

.ReactTable .rt-noData {
  width: 100%;
  text-align: center;
  padding: 9px !important;
  border: 1px solid #ddd;
  background:#e6e6e6 !important;
  border-radius: 25px;
  margin-top: -24px;
}
.icons_replay .heart-fill:before{
  background-size: 22px !important;
}
.success-cartoon input.radio_input[type=radio ]:not(old) + label > span{
  background: url(/assets/images/client/success-cartoon-1.svg);
}
.success-cartoon input.radio_input[type=radio]:not(old):checked + label > span > span{
  background: url(/assets/images/client/success-cartoon.svg);
}

.worning-cartoon input.radio_input[type=radio ]:not(old) + label > span{
  background: url(/assets/images/client/worning-cartoon-1.svg);
}
.worning-cartoon input.radio_input[type=radio]:not(old):checked + label > span > span{
  background: url(/assets/images/client/worning-cartoon.svg);
}

.danger-cartoon input.radio_input[type=radio ]:not(old) + label > span{
  background: url(/assets/images/client/danger-cartoon-1.svg);
}
.danger-cartoon input.radio_input[type=radio]:not(old):checked + label > span > span{
  background: url(/assets/images/client/danger-cartoon.svg);
}
.success-cartoon input.radio_input[type=radio ]:not(old) + label > span,
.success-cartoon input.radio_input[type=radio]:not(old):checked + label > span > span,
.worning-cartoon input.radio_input[type=radio ]:not(old) + label > span,
.worning-cartoon input.radio_input[type=radio]:not(old):checked + label > span > span,
.danger-cartoon input.radio_input[type=radio ]:not(old) + label > span,
.danger-cartoon input.radio_input[type=radio]:not(old):checked + label > span > span
{
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 0;
  background-size: 39px;
  background-repeat: no-repeat;
  opacity: 1 !important;
  margin: 0px !important;
}
.success-cartoon,
.worning-cartoon,
.danger-cartoon{
  display: inline-flex !important;
  width: 40px;
  height: 40px;
  position: relative;
  margin: 8px 10%;
}
 input.radio_input[type=radio ]:not(old){
}
.s-w-d_div h4{
  width: 50%;
  margin: 0px;
  vertical-align: middle;
  align-items: center;
  display: flex;
  padding-left: 15px;
  border-right: 1px solid #ddd;
}
.s-w-d_div .cartoon_div{
  width: 50%;
  margin: 0px;
  vertical-align: middle;
  align-items: center;
  display: flex;
}
.success-cartoon input.radio_input[type=radio ]:not(old) ,
.worning-cartoon input.radio_input[type=radio ]:not(old) ,
.danger-cartoon input.radio_input[type=radio ]:not(old) {
  min-width: 40px !important;
  height: 40px;
  position: absolute;
  left:0px;
  cursor: pointer;
}
.success-cartoon input.radio_input[type=radio ]:not(old) + label,
.worning-cartoon input.radio_input[type=radio ]:not(old) + label,
.danger-cartoon input.radio_input[type=radio ]:not(old) + label{
  margin-left: 0px;
}
.preferences_modal .modal-dialog {
  max-width: 730px !important;
  width: 730px !important;
}
.preferences_modal .overflow-hidden{
  padding: 0px;
  border: 0;
}
.s-w-d_div:nth-child(odd){
  background: #fff;
}
.preferences_modal .modal-content{
  background: #E5E5E3;
}
.text-visit-1 {
  font-size: 17px;
  font-weight: 300;
  margin: 15px 0px;
}
.bb-1-grye{
  border-bottom: 1px solid #ccc5c5;
}
/*.preferences_modal h4.font_w_4:before {
  content: '';
  background: #1e1e1e;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  margin-right: 5px;
}*/
.preferences_modal .font-w-n {
  border-bottom:1px solid #ccc5c5;
}
.react-datepicker-popper,
.react-datepicker__time-container,
.react-datepicker.react-datepicker--time-only,
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box{
  width: 100% !important;
} 
.react-datepicker-time__header{
  font-size: 12px !important;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  height: 30px;
  padding: 5px 10px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}


.react-datepicker__day-name, 
.react-datepicker__day, 
.react-datepicker__time-name {
  color: #000;
  display: inline-flex;
  width: 3.7rem;
  line-height: 2.7rem;
  text-align: center;
  margin: 0.166rem;
  justify-content: center;
  font-size: 11px;
}
.react-datepicker__day-name, 
.react-datepicker__day, 
.react-datepicker__time-name{
  width: 2.7rem !important;
  line-height: 2.7rem !important;;
}
.react-datepicker__current-month, 
.react-datepicker-time__header{
  font-size: 13px !important;
}
.react-datepicker-wrapper,
.react-datepicker__input-container{
  width: 100%;
}
.small_modal .modal-dialog{
	width:550px !important;
	max-width:550px !important;
}
.f_w_300{
	font-weight:300 !important;
}
.fav_icon_15{
  display: flex;
  padding-right: 8px;
}
.fav_icon_15 .icon-like {
  font-size: 23px;
  color: #FF6ECF;
  display: flex;
}
.arch_icon_15 i{
  font-size: 23px;
  color: #DB4255;
}
.fav_and_check{
  width: 100px;
  border-right: 1px solid #1ca278;
  display: inline-flex;
  justify-content: space-between;
}
span.arch_icon_15 i {
  border-left: 1px solid #c37e20;
  line-height: 0;
  display: flex;
  height: 100%;
  padding: 4px 12px;
  font-size: 26px;
}
.index_but{
  text-decoration: none !important;
}
.download_v1 i {
  font-size: 35px;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  color: #1fa076;
}
.modify_select .Select.is-searchable.Select--single .Select-control {
  background: #fff !important;
  border: 1px solid transparent;
}
.modify_select .Select-placeholder {
  color: #cacaca !important;
}
.modify_select .Select-arrow::before {
  content: "\33"!important;
  font-family: "icons_me" !important;
  border-width: 0px;
  top: -7px;
  position: absolute;
  margin-left: -21px;
  color: #1e1e1e;
  font-size: 22px;
  color: #1fa076;
}
.modify_select .Select-arrow::before {
  content: "\33"!important;
  font-family: "icons_me" !important;
  border-width: 0px;
  top: -23px;
  position: absolute;
  margin-left: -15px;
  color: #1fa076;
  font-size: 25px;
}
.modify_select input {
  color: #1e1e1e !important;
}
.modify_select  .Select.is-open > .Select-control .Select-arrow::before{
    /* content: "\33" !important;
    font-family: "icons_me" !important;
    border-width: 0px; */
    top: -9px;
    /* position: absolute;
    margin-left: -15px;
    font-size: 14px; */
}
.dataPicker_w > div,
.react-datepicker__month-container {
  width: 100%;
}
.required-n{
  position: relative;
}
.required-n:after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  background: url(../images/star_icons.svg);
  line-height: 10px;
  text-align: right;
  width: 7px;
  height: 7px;
  background-repeat: no-repeat;
  margin-top: -10px;
}
.modify_select .Select-value span {
    color: #1e1e1e !important;
    display: flex;
    height: 36px;
    align-items: center;
}
.goalHistoryChart{
	width: 100%;
    height: 200px;
    padding-bottom: 10px;
}
.exportgoalreport{
	float:right!important;

}
.exportgoalreport_btn{
	background-color: #6a21aa;
}


.e_new span {
  display: flex;
  height: 40px;
  background: #c00;
  color: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  margin-top: 25px;
}
.e_new span i {
  font-size: 23px;
  color: #fff;
  display: flex;
  align-items: center;
  line-height: 0px;
 
}
.e_new span div {
  width: 85%;
}


.s_new span {
  display: flex;
  height: 40px;
  background: #249e67;
  color: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  margin-top: 25px;
}
.s_new span i {
  font-size: 23px;
  color: #fff;
  display: flex;
  align-items: center;
  line-height: 0px;
 
}
.s_new span div {
  width: 85%;
}


.newStick12 .iYEUQw
{
	background:linear-gradient(-135deg, #d77f0b, #09a275) !important;
	word-break:break-all;
	padding:0px 15px;
	border-radius:30px;
}
.notification_text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.Box_tx1 > div {word-break: break-all;}

.react-datepicker__time-box ul {
    height: 210px !important;
}
.react-datepicker{
	display: flex !important;
	width: 230px;
}
.react-datepicker__time-box li {
    margin-bottom: 5px;
    font-size: 10px !important;
    width: 70px;
}

.Select-placeholder, .Select--single > .Select-control .Select-value
{padding-top: 3px;}

.notifyP
{
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    background: #1ba275;
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    line-height: 25px;
    top: -8px;
    right: 15px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: notify;
}

@keyframes notify {
  from  {background: #1ba275;}
  to {background: #de812a;}
}

.msg_btnBar .active a
{
  box-shadow: 4px 5px 9px #616161c4;
  transform: scale(1.07);
  text-decoration: none;
}

.status_new.stat4 li{width: auto; float: left;}

a.add_i_icon:hover, a.add_i_icon:focus{text-decoration: none;}

.is-focused .Select-input > input{width: 100% !important; max-width: 100% !important;}
.my-select .Select-input{display: block !important;}

.eyeBt1{display: block;}

.fdInfo{text-align: center;}
.fdInfo li{color: #23a274; list-style-type: none; display:inline-block; margin-right: 15px; font-size: 16px; }
.fdInfo li span{color: #000;}

.P_25_T{padding-top: 25px;}
.panelHdUl{margin-bottom: 0;}
.panelHdUl li{list-style-type: none; display: inline-block; margin-right: 15px;}
.panelHdUl li span{color:#23a274; }
.P_15_T{padding-top: 15px;}



textarea.cseDt_TxtAr{height: 100px;}
.filter_date{z-index: 50;}

label.clr_cmn{color:#23a274; width: 100%; }
.txt_bld{font-weight: 600;}

.shfrUl23{margin: 0 auto;}

.srch_selct .Select-arrow:before, 
.srch_selct .Select-arrow-zone:hover > .Select-arrow:before
{
  content:'\33' !important ;
  font-family: "icons_me" !important;
  position: absolute;
  color: #fff;
  font-size: 16px;
  margin-top: -5px;
}

.srch_selct .Select-arrow{border-style: none !important; width: 25px; height: 25px;}
.date-in-past {
  width: 14.3%;
  background: #e9e9e9;
  border-right: solid 1px #fff;
  pointer-events: none;
}

.Toastify__toast--success{background: linear-gradient(to right, #1da277 0%,#31866b 38%,#3c9962 59%,#a5852d 81%,#e07814 100%) !important;}

.row.your.second .User span.profile_sp
{border-radius:50%; display:block; width:100px; height:100px; overflow:hidden;
border:solid 2px #08a376;
position: relative;
z-index: 0;
}

/* .row.your.second .User span.profile_sp::after
{
    content: "\e0b8" !important;
    font-family: "icons_me" !important;
    font-size: 96px;
    position: absolute;
    left: 0;
    top: -32px;
    z-index: -1;
    color:#000;
} */

.row.your.second .User span.profile_sp img{width:100%; height:auto; min-height:100%; z-index: 10;}

.row.Block_row:before{display:block !important;}
.on_call_participant_calander .add_i_icon{
	display: inline-block;
    float: left;
}

.srch_sel2 .Select-arrow{border-color:transparent !important;}
.srch_sel2 .Select-arrow::before
{
	content: "\33"!important;
    font-family: "icons_me" !important;
	top: -16px;
    position: absolute;
    color: #fff;
    font-size: 16px;
    right: -12px;
}

.Select.srch_sel2.is-open > .Select-control .Select-arrow{border-color:transparent !important;}

.Select.srch_sel2.is-open .Select-arrow::before{top:-2px}
.center-content{text-align:center;width:100%;}

.react-datepicker__time-box li{width: 100% !important; min-width: 70px;}

.pd_tb_30{padding: 30px 0;}

.input_2 {
  /* overflow: hidden; */
  position: relative;
  width: 100%;
  z-index: inherit;
  margin-bottom: 15px;
  background: -moz-linear-gradient(45deg, rgba(9,162,117,1) 0%, rgba(215,127,11,1) 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(9,162,117,1)), color-stop(100%, rgba(215,127,11,1)));
  background: -webkit-linear-gradient(45deg, rgba(9,162,117,1) 0%, rgba(215,127,11,1) 100%);
  background: -o-linear-gradient(45deg, rgba(9,162,117,1) 0%, rgba(215,127,11,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(9,162,117,1) 0%, rgba(215,127,11,1) 100%);
  background: linear-gradient(45deg, rgba(9,162,117,1) 0%, rgba(215,127,11,1) 100%);
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  padding: 1px;
  display: inline-table;
}

.my-select{z-index: inherit;}

.back-arrow{margin-top: 10px;}

.mb_15{margin-bottom: 15px;}

.updte_ics{
  font-size: 28px;
  color: #24ab84;
  line-height: 0;
  margin-left: 5px;
}

.flx_upd1
{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flx_btn1
{
  display: flex;
  align-items: center;
  float: right;;
}

.ifo_ic_1{
  font-size: 40px;
  line-height: 0;
}

.flx_logo1{
  display: flex;
  justify-content: flex-end;
}

.arh_1{line-height: 0;}

.vw_ic2{
  font-size: 36px;
    line-height: 0;
    color: #35ad86;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    text-decoration: none !important;
}

.mn_logo_ic
{
  font-size: 62px;
    background: -webkit-linear-gradient(#d38430, #0ca376);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo a:hover
{text-decoration: none;}

.icn_dashLinks
{
  font-size: 85px;
    line-height: 0;
    background: -webkit-linear-gradient(#d38430, #0ca376);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dsh_spns
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.smile_ic_hd
{line-height: 0;}

.hdng_12
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.rstr_icn
{
  font-size: 83px;
    margin: 0 auto;
    line-height: 0;
    background: -webkit-linear-gradient(left, #0da273, #cb8211);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mdl_cross
{
  top: 15px;
  position: absolute;
  right: 16px;
  font-size: 25px;
  cursor: pointer;
  background: linear-gradient(to right, #1da277 0%,#31866b 38%,#3c9962 59%,#a5852d 81%,#e07814 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 2;
}

.pd_r_35
{padding-right: 35px;}

/* .d_flex2
{
  display: flex;
  align-items: center;
} */

.mees_pdf_v1.left
{padding-left: 50px;}

.mees_pdf_v1 span{
  color: #000; font-size: 11px;
  text-align: center;
  display: inline-block;
  padding: 10px;
  background: #f0f0f0;
  border: solid 1px #a88b3f;
  margin-bottom: 10px;    margin-right: 15px;}

.mees_pdf_v1 i
{
  background: -webkit-linear-gradient(#d38430, #0ca376);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* padding-right: 15px; */
  line-height: 1;
  font-size: 35px;
}

.error_bg
{
  text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
}

.error_bg h1{font-size: 175px; margin-top: 0; }

.error_bg h1 span{color:#ffa938;}

.error_bg p{ font-size: 25px;text-transform: uppercase;}

.btn.bk_home_btn
{
  padding: 15px 30px;
  border-radius: 25px;
  background: linear-gradient(-135deg, #d77f0b, #09a275) !important;
  color: #fff;
}

a:hover .bk_home_btn{color: #fff;}

.bk_home_btn i{line-height: 1;}