@charset "UTF-8";

@font-face {
  font-family: "recruitment-icon";
  src:url("icons/recruitment-icon.eot");
  src:url("icons/recruitment-icon.eot?#iefix") format("embedded-opentype"),
    url("icons/recruitment-icon.woff") format("woff"),
    url("icons/recruitment-icon.ttf") format("truetype"),
    url("icons/recruitment-icon.svg#recruitment-icon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "recruitment-icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "recruitment-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-accept-approve1-ie:before {content: "\61";}
.icon-accept-approve2-ie:before {content: "\62";}
.icon-accept-approve3-ie:before {content: "\63";}
/* .icon-add1-ie:before {content: "\64";}
.icon-add2-ie:before {content: "\65";}
.icon-add3-ie:before {content: "\66";}
.icon-add4-ie:before {content: "\67";} */
.icon-approved1-ie:before {content: "\68";}
.icon-approved2-ie:before {content: "\69";}
.icon-approved3-ie:before {content: "\6a";}
.icon-archive1-ie:before {content: "\6b";}
.icon-archive2-ie:before {content: "\6c";}
.icon-archive3-ie:before {content: "\6d";}
.icon-archive4-ie:before {content: "\6e";}
.icon-archive5-ie:before {content: "\6f";}
.icon-arrow-red-left:before {content: "\70";}
.icon-arrow-black-up:before {content: "\71";}
.icon-arrow-red-right:before {content: "\72";}
.icon-arrow-black-down:before {content: "\73";}
.icon-arrow5-ie:before {content: "\74";}
.icon-arrow6-ie:before {content: "\75";}
.icon-arrow7-ie:before {content: "\76";}
.icon-arrow8-ie:before {content: "\77";}
.icon-attatchments1-ie:before {content: "\78";}
.icon-attatchments2-ie:before {content: "\79";}
.icon-attatchments3-ie:before {content: "\7a";}
.icon-availmem1-ie:before {content: "\41";}
.icon-availmem2-ie:before {content: "\42";}
.icon-availmem3-ie:before {content: "\43";}
.icon-availmem4-ie:before {content: "\44";}
.icon-back1-ie:before {content: "\45";}
.icon-back2-ie:before {content: "\46";}
.icon-back3-ie:before {content: "\47";}
.icon-block1-ie:before {content: "\48";}
.icon-call1-ie:before {content: "\49";}
.icon-call2-ie:before {content: "\4a";}
.icon-call3-ie:before {content: "\4b";}
.icon-checkbox1-ie:before {content: "\4c";}
.icon-checkbox2-ie:before {content: "\4d";}
.icon-circle1-ie:before {content: "\4e";}
.icon-close1-ie:before {content: "\4f";}
.icon-close2-ie:before {content: "\50";}
.icon-close3-ie:before {content: "\51";}
.icon-document1-ie:before {content: "\52";}
.icon-document2-ie:before {content: "\53";}
.icon-document3-ie:before {content: "\54";}
.icon-document4-ie:before {content: "\55";}
.icon-document5-ie:before {content: "\56";}
.icon-document6-ie:before {content: "\57";}
.icon-download1-ie:before {content: "\58";}
.icon-download2-ie:before {content: "\59";}
.icon-download3-ie:before {content: "\5a";}
.icon-edit1-ie:before {content: "\30";}
.icon-edit2-ie:before {content: "\31";}
.icon-edit3-ie:before {content: "\32";}
.icon-edit4-ie:before {content: "\33";}
.icon-edit5-ie:before {content: "\34";}
.icon-edit6-ie:before {content: "\35";}
.icon-envelope1-ie:before {content: "\36";}
.icon-export1-ie:before {content: "\37";}
.icon-fillshift1-ie:before {content: "\38";}
.icon-fillshift2-ie:before {content: "\39";}
.icon-fillshift3-ie:before {content: "\21";}
.icon-flag1-ie:before {content: "\22";}
.icon-flag2-ie:before {content: "\23";}
.icon-history1-ie:before {content: "\24";}
.icon-history2-ie:before {content: "\25";}
.icon-history3-ie:before {content: "\26";}
.icon-imail1-ie:before {content: "\27";}
.icon-imail2-ie:before {content: "\28";}
.icon-imail3-ie:before {content: "\29";}
.icon-imail4-ie:before {content: "\2a";}
.icon-info1-ie:before {content: "\2b";}
.icon-info2-ie:before {content: "\2c";}
.icon-info3-ie:before {content: "\2d";}
.icon-like1-ie:before {content: "\2e";}
.icon-like2-ie:before {content: "\2f";}
.icon-listen1-ie:before {content: "\3a";}
.icon-listen2-ie:before {content: "\3b";}
.icon-listen3-ie:before {content: "\3c";}
.icon-location1-ie:before {content: "\3d";}
.icon-lock1-ie:before {content: "\3e";}
.icon-logout1-ie:before {content: "\3f";}
.icon-logout2-ie:before {content: "\40";}
.icon-logout3-ie:before {content: "\5b";}
.icon-logout4-ie:before {content: "\5d";}
.icon-logout5-ie:before {content: "\5e";}
.icon-logout6-ie:before {content: "\5f";}
.icon-next1-ie:before {content: "\60";}
.icon-next2-ie:before {content: "\7b";}
.icon-next3-ie:before {content: "\7c";}
.icon-notes1-ie:before {content: "\7d";}
.icon-notes2-ie:before {content: "\7e";}
.icon-notes3-ie:before {content: "\5c";}
.icon-notification1-ie:before {content: "\e000";}
.icon-notification2-ie:before {content: "\e001";}
.icon-notification3-ie:before {content: "\e002";}
.icon-notification4-ie:before {content: "\e003";}
.icon-pussapp1-ie:before {content: "\e004";}
.icon-pussapp2-ie:before {content: "\e005";}
.icon-pussapp3-ie:before {content: "\e006";}
.icon-q-mark1-ie:before {content: "\e007";}
.icon-q-mark2-ie:before {content: "\e008";}
.icon-recode1-ie:before {content: "\e009";}
.icon-remove1-ie:before {content: "\e00a";}
.icon-remove2-ie:before {content: "\e00b";}
.icon-remove3-ie:before {content: "\e00c";}
.icon-remove4-ie:before {content: "\e00d";}
.icon-search1-ie:before {content: "\e00e";}
.icon-search2-ie:before {content: "\e00f";}
.icon-search3-ie:before {content: "\e010";}
.icon-setting1-ie:before {content: "\e011";}
.icon-star1-ie:before {content: "\e012";}
.icon-star2-ie:before {content: "\e013";}
.icon-update1-ie:before {content: "\e014";}
.icon-userf1-ie:before {content: "\e015";}
.icon-userf2-ie:before {content: "\e016";}
.icon-userm1-ie:before {content: "\e017";}
.icon-userm2-ie:before {content: "\e018";}
.icon-view1-ie:before {content: "\e019";}
.icon-view2-ie:before {content: "\e01a";}
.icon-view3-ie:before {content: "\e01b";}
.icon-warning1-ie:before {content: "\e01c";}
.icon-warning2-ie:before {content: "\e01d";}
.icon-cancel:before {content: "\e01e";}
.icon-ios-plus-empty:before {content: "\e01f";}
.icon-ios-minus-empty:before {content: "\e020";}
